<%- include('./src/include/header-en.ejs', { title: '' }) %>

	<%
		const parallaxValue = '-15%';
	%>

	<main class="main">
		<div class="swiper main-slide">
			<div class="swiper-wrapper">
				<div class="swiper-slide index">
					<div class="inwrap" data-swiper-parallax="<%=parallaxValue%>">
						<h2>
							<span>For Earth,</span>
							<span>For Space,</span>
							<span>For Human</span>
						</h2>
						<p class="ment">
							<span class="font-hh">Space Hub</span> is a corporate brand in order to boost synergy <br class="pc_only">
							between <span class="font-hh">Hanwha Group</span>'s space companies
						</p>
						<div class="decos">
							<span class="coord">14’56’02</span>
							<span class="title">Cassiopeia A</span>
							<span class="date">2023.12</span>
							<span class="lens-focus"></span>
							<span class="lens-side-1"></span>
							<span class="lens-side-2"></span>
						</div>

						<!-- 배너 - 누리호 발사 카운트다운 -->
						<!--
						<div class="banner-wrap">
							<div class="banner count-down">
								<div class="visual">
									<video muted loop playsinline preload>
										<source src="/resources/images/launch/vision-launch.webm" type="video/webm">
										<source src="/resources/images/launch/vision-launch.mp4" type="video/mp4" />
									</video>
								</div>
								<div class="texts small" data-count-down>
									<strong>누리호 발사 카운트다운</strong>
									<p>
										<span>00</span>
										<span>00</span>
										<span>00</span>
										<span>00</span>
									</p>
								</div>
								<div class="texts expanded">
									<div class="inner">
										<h3>
											<span>우주를 향한 담대한 도전 .</span>
											<em>누리호 3차 발사까지</em>
										</h3>
										<p>
											<strong class="days">00</strong>
											<span>D<span>ays</span></span>
											<strong class="hours">00</strong>
											<span>H<span>ours</span></span>
											<strong class="minutes">00</strong>
											<span>M<span>inutes</span></span>
											<strong class="seconds">00</strong>
											<span>S<span>econds</span></span>
										</p>
									</div>
									<p class="source">* 본 영상은 '누리호 1차 시험발사 장면' 입니다. ⓒ KARI</p>
								</div>
							</div>
						</div>
						-->
						<!-- // 배너 - 누리호 발사 카운트다운 -->

						<!-- 배너 - 우주의 조약돌 -->
						<!--
						<div class="banner-wrap">
							<div class="banner space-kids">
								<div class="visual"></div>
								<div class="texts small">
									<strong>우주의 조약돌</strong>
								</div>
								<div class="texts expanded space-kids-visual">
									<div class="space-kids-backgrounds">
										<div class="space-kids-visual"></div>
										<div class="space-kids-intro"></div>
										<div class="space-kids-benefit"></div>
										<div class="space-kids-who"></div>
										<div class="space-kids-process"></div>
									</div>
									<div class="swiper space-kids-slide">
										<div class="swiper-wrapper">
											<div class="swiper-slide space-kids-visual" data-show-target>
												<div class="inwrap">
													<div class="texts">
														<h3 class="logo">우주의 조약돌</h3>
														<h4 class="title">
															<em>미래 우주과학자</em>
															<span>여러분을 초대합니다.</span>
														</h4>
													</div>
													<div class="space-kids-guideline">
														<ul class="guideline-part-1">
															<li>
																<h6>참가대상</h6>
																<p>전국 중학교 1-2년 학생 누구나</p>
															</li>
															<li>
																<h6>선발기준</h6>
																<p>우주에 대한 열정 풍부한 창의력과 <br>상상력 인문학적 소양</p>
															</li>
															<li>
																<h6>교육 프로그램</h6>
																<ul>
																	<li>우주 인문학 컨퍼런스</li>
																	<li>KAIST 교수진과 함께 맞춤형 우주 미션 프로젝트</li>
																	<li>프로젝트 성과 발표회</li>
																</ul>
															</li>
														</ul>
														<ul class="guideline-part-2">
															<li>
																<h6>우주의 조약돌 모집</h6>
																<p>5/22(월) ~ 6/9(금)</p>
															</li>
															<li class="period">
																<h6>교육진행</h6>
																<p>7월-12월</p>
															</li>
															<li class="award">
																<h6>과제발표 및 시상</h6>
																<p>2024년 1월</p>
															</li>
															<li>
																<h6>참가혜택</h6>
																<p>해외탐방, KAIST 총장 수료증, KAIST 영재교육원 수강권, <br>KAIST 멘토링, 1:1 진로 컨설팅</p>
															</li>
														</ul>
													</div>
												</div>
											</div>
											<div class="swiper-slide space-kids-intro">
												<div class="banner-content">
													<h5 class="banner-title">세상에 없던 우주교육</h5>
													<p>
														우주의 조약돌에 참가하는 학생들은 많은 과학자들의 우주 인문학 강연을 직접 듣고,
														상상력을 키워갑니다. 또한 KAIST의 항공우주 공학 현장에서 온 멘토들과 함께 학생들의
														아이디어를 실현하는 우주 미션 프로젝트를 수행하게 됩니다.
													</p>
												</div>
											</div>
											<div class="swiper-slide space-kids-benefit">
												<div class="banner-content">
													<h5 class="banner-title">참가 혜택</h5>
													<p>졸업 후에도 우주를 향한 꿈을 키울 수 있도록 우주의 조약돌이 함께합니다.</p>
													<ul>
														<li>
															<span>01</span>
															<h6>해외 탐방</h6>
														</li>
														<li>
															<span>02</span>
															<h6>1:1 <br>진로 컨설팅</h6>
														</li>
														<li>
															<span>03</span>
															<h6>KAIST <br>멘토링</h6>
														</li>
														<li>
															<span>04</span>
															<h6>KAIST <br>영재교육원  <br>수강권</h6>
														</li>
														<li>
															<span>05</span>
															<h6>KAIST <br>총장 수료증</h6>
														</li>
													</ul>
												</div>
											</div>
											<div class="swiper-slide space-kids-who">
												<div class="banner-content">
													<h5 class="banner-title">우주의 조약돌 인재상</h5>
													<p>과학, 우주 분야에서 꿈을 키울 수 있도록 공감하고 협업하고 <br>융합적으로 사고하면서 문제 해결 능력을 갖춘 창의적 미래인재를 육성하고자 합니다.</p>
													<ul>
														<li>
															<div class="texts">
																<h6>생각하는 아이</h6>
																<p>복합적 문제를 해결할 수 있는 <br>문제해결력과 사고력</p>
															</div>
														</li>
														<li>
															<div class="texts">
																<h6>꿈을 꾸는 아이</h6>
																<p>과학과 우주를 꿈꾸며 진로를 <br>탐구하는 성향</p>
															</div>
														</li>
														<li>
															<div class="texts">
																<h6>질문하는 아이</h6>
																<p>질문을 통해 상황을 <br>이해하는 분석력</p>
															</div>
														</li>
													</ul>
												</div>
											</div>
											<div class="swiper-slide space-kids-process">
												<div class="banner-content">
													<h5 class="banner-title">진행 프로세스</h5>
													<ol>
														<li>모집기간</li>
														<li>선발기간</li>
														<li>교욱진행</li>
														<li>선발자발표</li>
														<li>과제발표 및 시상</li>
														<li>해외탐방</li>
													</ol>
												</div>
												<div class="caution">
													<h6>유의사항</h6>
													<p>
														참가 신청은 본 홈페이지를 통한 접수만 가능하며, 우편, 이메일로는 접수가 불가능합니다.<br>
														참가 접수를 위한 별도의 참가비는 없습니다.
													</p>
												</div>
											</div>
										</div>
									</div>
									<p class="primary-button">
										<a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=10124&hidnKey=9yBKOjyuOqFRi7yPCgqsQA99PItrlidjBUIBHGabPFR7Blq98t" target="_blank">2기 모집 <br>참가신청</a>
									</p>
									<p class="page-indicator">
										<button type="button">Scroll</button>
									</p>
								</div>
							</div>
						</div>
						-->
						<!-- // 배너 - 우주의 조약돌 -->

						<!-- 배너 - 유튜브 링크 -->
						<div class="banner-link">
							<a href="https://www.youtube.com/watch?v=sV1HOTbdj8o" target="_blank" title="Space Hub TV Youtube">
								<img src="/resources/images/spacehub_tv-mini-en.webp" alt="Space Hub?" />
							</a>
						</div>
						<!-- // 배너 - 유튜브 링크 -->
					</div>
				</div>
				<div class="swiper-slide intro">
					<div class="inwrap">
						<div class="visual">
							<div class="inwrap">
								<video class="video-content" poster="/resources/images/space-hub/earth.webp" loop muted playsinline>
									<source src="/resources/images/space-hub/earth.mov" type="video/mp4; codecs=hvc1" />
									<source src="/resources/images/space-hub/earth.webm" type="video/webm" />
								</video>
							</div>
							<div class="moon"></div>
						</div>
						<div class="text" data-swiper-parallax="<%=parallaxValue%>">
							<h3>
								<span class="font-hh">Space Hub</span> is paving the way to reach Earth obbits, connect people
								with people via satellites, and expanding mankind's territory beyond
								orbits by exploring outer space through strategic partnership with global
								innovation pioneers.
								<!-- <em>Space Hub</em> is launching space <br class="mo_only">launchers from earth,<br class="pc_only">
									connecting people <br class="mo_only">with people via satellites, and expanding the territory
									of mankind by exploring outer <br class="mo_only">space through the design of strategic
									partnership with domestic & overseas technology leaders. -->
							</h3>
						</div>
					</div>
				</div>
				<div class="swiper-slide network">
					<div class="inwrap" data-swiper-parallax="<%=parallaxValue%>">
						<div class="visual" data-swiper-parallax="15%">
							<div class="inwrap">
								<video class="video-content" poster="/resources/images/network.webp" loop muted playsinline>
									<source src="/resources/images/network.mov" type="video/mp4; codecs=hvc1" />
									<source src="/resources/images/network.webm" type="video/webm" />
								</video>
								<ul class="network-texts">
									<li><a href="/en/launch/"><strong>Space Launch Vehicle</strong> <span>Integrated space launch service provider </span></a></li>
									<li><a href="/en/satellite/"><strong>Satellite</strong> <span>Satellite Data Application (EO & SATCOM)</span></a></li>
									<li><a href="/en/exploration/"><strong>Lunar Mission</strong> <span>In-space Business Model</span></a></li>
									<li><a href="/en/media-room/"><strong>Media Room</strong></a></li>
									<!-- <li><a href="/space-kids/"><strong>Space Kids</strong> <span>Space education that's<br> unprecedented in the world</span></a></li> -->
								</ul>
							</div>
						</div>
						<div class="texts">
							<h3>Space Hub</h3>
							<p class="ment">We will continue to navigate the era of New Space</p>
							<p class="link">
								<a href="/en/space-hub/">Learn more</a>
							</p>
						</div>
					</div>
				</div>
			</div>
			<p class="pagination"></p>
		</div>
		<p class="hanwha-link">
			<a href="https://www.hanwha.com" target="_blank"><img src="/resources/images/logo-hanwha-en.svg" alt="Hanwha" /></a>
		</p>
	</main>

<%- include('./src/include/footer-en.ejs') %>
