<%- include('./src/include/header-en.ejs', { title: '' }) %>

	<%
		const parallaxValue = '-15%';
	%>

	<main class="main">
		<section id="visual" class="visual">
			<div class="sticky">
				<div class="texts">
					<h2 class="elt-t">
						<span>
							<span>For Earth, For Space, <br class="mobile">For Human</span>
						</span>
					</h2>
					<p class="ment elt-t">
						<span>
							<span><em class="font-hh">Space Hub</em> enhances the capabilities of <span class="font-hh">Hanwha Group</span>'s space workforce.</span>
						</span>
						<span>
							<span>This is an integrated brand of <span class="font-hh">Hanwha</span>'s space business gathered in order to boost synergy.</span>
						</span>
					</p>
				</div>
				<div class="bg">
					<video class="video-content" poster="/resources/images/main/visual-index-4.webp" loop muted playsinline autoplay>
						<!-- <source src="/resources/images/main/visual-index-4.mov" type="video/mp4; codecs=hvc1" /> -->
						<source src="/resources/images/main/visual-index-4.webm" type="video/webm" />
						<source src="/resources/images/main/visual-index-4.mp4" type="video/mp4" />
					</video>
				</div>
				<div class="decos">
					<div class="lens">
						<div class="lens-out"></div>
						<span class="lens-focus"></span>
					</div>
					<span class="wolf">NGC-604</span>
					<div class="credit">
						<span class="date">2024-03-09</span>
						<span class="image">
							<span>Image credit</span>
						</span>
						<span class="txt"> 
							NASA, ESA, CSA, STScI.
						</span>
					</div>
				</div>
				<div class="mark-scroll">Scroll to explore</div>

				<!-- 배너 - 유튜브 링크 -->
				<div class="banner-link">
					<!-- <a href="https://youtu.be/55G6Ukl-2KM?si=RqKufszzW6xNPwoM" target="_blank" title="Space Hub TV Youtube"> -->
					<!-- <a href="/media-room/press-release/41/" title="Press Release">
						<img src="/resources/images/press_release-mini.png" alt="한화, '차세대발사체 사업자' 선정" />
					</a> --> 
					<a href="https://www.youtube.com/watch?v=sV1HOTbdj8o" target="_blank" title="Space Hub TV Youtube">
					<img src="../resources/images/spacehub_tv-mini-en.webp" alt="Space Hub?">
					<span></span>
					</a>
				</div>
				<!-- // 배너 - 유튜브 링크 -->

				<!-- 한화 링크 -->
				<p class="hanwha-link">
					<a href="https://www.hanwha.co.kr" target="_blank"><img src="/resources/images/logo-hanwha-en.svg" alt="Hanwha" /></a>
				</p>
				<!-- // 한화 링크 -->
			</div>
		</section>

		<section id="launch" class="launch">
			<div class="bg-space">
				<img src="/resources/images/main/launch-bg-shadow.webp" />
				<div class="bg"></div>
			</div>
			<div class="sticky">
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s elt-c">
							<em class="font-hh">Space Hub</em>is researching more innovative launch <br>
							vehicles to find shortcuts to space. 
						</h3>
						<p class="text">
							Nuri, will begin its first launch in 2021 and gradually advance in technology until the sixth launch in 2027.
							The next-generation launch vehicle is expected to transport large satellites and explore further space and the moon. 
						</p> 
						<a href="./launch/" class="btn-hud"><span>Learn about Space Launcher​</span></a>
					</div>
				</div>
			</div>
		</section>

		<section id="satellite" class="satellite">
			<div class="sticky">
				<div class="bg-space"></div>
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s">
							<span>
								<span>Connect people through the satellite​</span>
							</span>
							<span>
								<span>with LEO(Low Earth Orbit) satellite network technology​</span>
							</span>
						</h3>
						<p class="text">
							First commercial Earth observation satellite developed with Korean technology was successfully launched and communicated in 2023.
						</p>
						<a href="./satellite/" class="btn-hud"><span>Learn about Satellite​</span></a>
					</div>
				</div>
				<div class="earth">
					<div class="planet">
						<video poster="/resources/images/space-hub/earth.webp" loop muted playsinline>
							<source src="/resources/images/space-hub/earth.mov" type="video/mp4; codecs=hvc1" />
							<source src="/resources/images/space-hub/earth.webm" type="video/webm" />
						</video>
					</div>
					<div class="sat">
						<video poster="/resources/images/main/satellite-earth-sat.webp" loop muted playsinline>
							<source src="/resources/images/main/satellite-earth-sat.webm" type="video/webm" />
							<source src="/resources/images/main/satellite-earth-sat.mov" type="video/mp4; codecs=hvc1"  />
						</video>
					</div>
				</div>
			</div>
		</section>

		<section id="exploration" class="exploration">
			<div class="sticky">
				<div class="bg-space"></div>
				<div class="bg"></div>
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s">
							<span>
								<span>Explore the universe with <br class="mobile">our own technology​</span>
							</span>
							<span>
								<span>to expand the territories of mankind​</span>
							</span>
						</h3>
						<p class="text">
							Korea's first lunar orbiter, Danuri, successfully entered orbit (2022) We became the 7th country in the world to explore the moon and contributed to becoming a space power.
						</p>
						<a href="./exploration/" class="btn-hud"><span>Learn about Exploration​​</span></a>
					</div>
				</div>
			</div>
		</section>

		<section id="space-kids" class="space-kids" style="display: none;">
			<div class="sticky">
				<div class="orbit">
					<div class="mars">
						<span>MARS</span>
					</div>
					<div class="moon">
						<span>MOON</span>
					</div>
				</div>
				<div class="texts">
					<p class="logo elt-s">
						<span>
							<span>
								<img src="/resources/images/main-spacekids/exploration-spacekids-logo.svg" alt="Hanwha Space Hub X KAIST, 우주의 조약돌">
							</span>
						</span>
					</p>
					<p class="title elt-s elt-c">
						우주의 조약돌에 참가하는 학생들은 <br class="mobile">많은 과학자들의 <br class="web">
						우주 인문학 강연을 <br class="mobile">직접 듣고, 상상력을 키워갑니다.
					</p>
					<p class="title">
						<strong class="elt-s elt-c">
							또한 KAIST의 항공우주 공학 <br class="mobile">현장에서 온 멘토들과 함께 <br class="web"><br class="mobile">
							학생들의 아이디어를 실현하는 우주 <br class="mobile">미션 프로젝트를 수행하게 됩니다.
						</strong>
						<a href="./space-kids/" class="btn-hud"><span>우주의 조약돌 자세히 보기</span></a>
					</p>
				</div>
			</div>
		</section>

		<section id="spacehub" class="spacehub">
			<div class="bg"></div>
			<div class="inwrap">
				<div class="texts">
					<strong class="title elt-s elt-c">
						<em class="font-hh">Space Hub</em> is a corporate brand <br>in order to boost synergy
					</strong>
					<p class="ment">
						<span class="font-hh">Space Hub</span> is paving the way to reach Earth orbits, connect people ​<br>
							with people via satellites, and expanding mankind's territory beyond<br>
							orbits by exploring outer space through strategic partnership ​<br>
							with global innovation pioneers.
					</p>
					<a href="/space-hub/" class="btn-hud"><span>Learn about &nbsp;<em class="font-hh">Space Hub </em></span></a>
				</div>
			</div>
		</section>

		<section id="network" class="network show">
			<div class="inwrap">
				<div class="visual">
					<div class="inwrap">
						<video class="video-content" poster="/resources/images/network.webp" loop muted playsinline>
							<source src="/resources/images/network.mov" type="video/mp4; codecs=hvc1" />
							<source src="/resources/images/network.webm" type="video/webm" />
						</video>
						<ul class="network-texts">
              <li><a href="/en/launch/"><strong>Space Launch Vehicle</strong> <span>Integrated space launch service provider </span></a></li>
              <li><a href="/en/satellite/"><strong>Satellite</strong> <span>Satellite Data Application (EO & SATCOM)</span></a></li>
              <li><a href="/en/exploration/"><strong>Exploration</strong> <span>In-space Business Model</span></a></li>
              <li><a href="/en/media-room/"><strong>Media Room</strong></a></li>
							<!-- <li><a href="/space-kids/introduce/"><strong>우주의 조약돌</strong> <span>세상에 없던 우주 교육</span></a></li> -->
						</ul>
					</div>
				</div>
				<div class="texts">
					<h3>Space Hub</h3>
					<p class="ment">We will continue to navigate the era of New Space</p>
				</div>
			</div>
		</section>

	</main>

<%- include('./src/include/footer-en.ejs') %>
