<%- include('./src/include/header.ejs', { title: '' }) %>

	<%
		const parallaxValue = '-15%';
	%>

	<main class="main">
		<section id="visual" class="visual">
			<div class="sticky">
				<div class="texts">
					<h2 class="elt-t">
						<span>
							<span>For Earth, For Space, <br class="mobile">For Human</span>
						</span>
					</h2>
					<p class="ment elt-t">
						<span>
							<span><em>Space Hub</em>는 <span class="font-hh">한화그룹</span> 우주 계열사들의 역량을</span>
						</span>
						<span>
							<span>한곳에 모은 <span class="font-hh">한화</span> 우주 사업 통합 브랜드입니다.</span>
						</span>
					</p>
				</div>
				<div class="bg">
					<video class="video-content" poster="/resources/images/main/visual-index-4.webp" loop muted playsinline autoplay>
						<!-- <source src="/resources/images/main/visual-index-4.mov" type="video/mp4; codecs=hvc1" /> -->
						<source src="/resources/images/main/visual-index-4.webm" type="video/webm" />
						<source src="/resources/images/main/visual-index-4.mp4" type="video/mp4" />
					</video>
				</div>
				<div class="decos">
					<div class="lens">
						<div class="lens-out"></div>
						<span class="lens-focus"></span>
					</div>
					<span class="wolf">NGC-604</span>
					<div class="credit">
						<span class="date">2024-03-09</span>
						<span class="image">
							<span>Image credit</span>
						</span>
						<span class="txt"> 
							NASA, ESA, CSA, STScI.
						</span>
					</div>
				</div>
				<div class="mark-scroll">Scroll to explore</div>

				<!-- 배너 - 유튜브 링크 -->
				<div class="banner-link">
					<!-- <a href="https://youtu.be/55G6Ukl-2KM?si=RqKufszzW6xNPwoM" target="_blank" title="Space Hub TV Youtube"> -->
					<a href="/media-room/press-release/47/" title="Press Release">
						<img src="/resources/images/space-kids-3.png" alt="한화 '우주의 조약돌' 3기 시작" />
						<span></span>
					</a>
				</div>
				<!-- // 배너 - 유튜브 링크 -->

				<!-- 한화 링크 -->
				<p class="hanwha-link">
					<a href="https://www.hanwha.co.kr" target="_blank"><img src="/resources/images/logo-hanwha-en.svg" alt="Hanwha" /></a>
				</p>
				<!-- // 한화 링크 -->
			</div>
		</section>

		<section id="launch" class="launch">
			<div class="bg-space">
				<img src="/resources/images/main/launch-bg-shadow.webp" />
				<div class="bg"></div>
			</div>
			<div class="sticky">
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s elt-c">
							<em class="font-hh">Space Hub</em>는 우주를 향한<br class="mobile">지름길을 찾아<br class="web">
							보다 혁신적인 발사체를 <br class="mobile">연구하고 있습니다.
						</h3>
						<p class="text">
							대한민국 독자 개발 로켓 누리호는 2021년 1차 발사를 시작으로 2027년 6차까지 점차 기술이 고도화 될 것입니다. 차세대 발사체는 대형위성을 수송하고, 더 먼 우주와 달을 탐사할 예정입니다.
						</p> 
						<a href="./launch/" class="btn-hud"><span>발사체 자세히 보기</span></a>
					</div>
				</div>
			</div>
		</section>

		<section id="satellite" class="satellite">
			<div class="sticky">
				<div class="bg-space"></div>
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s">
							<span>
								<span>저궤도 위성망 기술력으로</span>
							</span>
							<span>
								<span>사람과 사람을 연결합니다.</span>
							</span>
						</h3>
						<p class="text">
							국내 최초, 순수 우리기술로 개발한 민간 주도 
							상용 지구관측 위성이 2023년 자체발사와 교신에 성공했습니다.
						</p>
						<a href="./satellite/" class="btn-hud"><span>위성 자세히 보기</span></a>
					</div>
				</div>
				<div class="earth">
					<div class="planet">
						<video poster="/resources/images/space-hub/earth.webp" loop muted playsinline>
							<source src="/resources/images/space-hub/earth.mov" type="video/mp4; codecs=hvc1" />
							<source src="/resources/images/space-hub/earth.webm" type="video/webm" />
						</video>
					</div>
					<div class="sat">
						<video poster="/resources/images/main/satellite-earth-sat.webp" loop muted playsinline>
							<source src="/resources/images/main/satellite-earth-sat.webm" type="video/webm" />
							<source src="/resources/images/main/satellite-earth-sat.mov" type="video/mp4; codecs=hvc1"  />
						</video>
					</div>
				</div>
			</div>
		</section>

		<section id="exploration" class="exploration">
			<div class="sticky">
				<div class="bg-space"></div>
				<div class="bg"></div>
				<div class="inwrap">
					<div class="texts">
						<h3 class="title elt-s">
							<span>
								<span>독자 기술 확보하여 우주를 탐사해</span>
							</span>
							<span>
								<span>인류의 영토를 확장합니다.</span>
							</span>
						</h3>
						<p class="text">
							대한민국 최초 달 궤도선 다누리 <br class="tablet">궤도 진입 성공 (2022년)<br>
							세계 7번째 달 탐사 국가가 되어 <br class="tablet">우주강국으로 거듭나도록 기여하였습니다.
						</p>
						<a href="./exploration/" class="btn-hud"><span>탐사 자세히 보기</span></a>
					</div>
				</div>
			</div>
		</section>

		<section id="space-kids" class="space-kids">
			<div class="sticky">
				<div class="orbit">
					<div class="mars">
						<span>MARS</span>
					</div>
					<div class="moon">
						<span>MOON</span>
					</div>
				</div>
				<div class="texts">
					<p class="logo elt-s">
						<span>
							<span>
								<img src="/resources/images/main-spacekids/exploration-spacekids-logo.svg" alt="Hanwha Space Hub X KAIST, 우주의 조약돌">
							</span>
						</span>
					</p>
					<p class="title elt-s elt-c">
						우주의 조약돌에 참가하는 학생들은 <br class="mobile">많은 과학자들의 <br class="web">
						우주 인문학 강연을 <br class="mobile">직접 듣고, 상상력을 키워갑니다.
					</p>
					<p class="title">
						<strong class="elt-s elt-c">
							또한 KAIST의 항공우주 공학 <br class="mobile">현장에서 온 멘토들과 함께 <br class="web"><br class="mobile">
							학생들의 아이디어를 실현하는 우주 <br class="mobile">미션 프로젝트를 수행하게 됩니다.
						</strong>
						<a href="./space-kids/" class="btn-hud"><span>우주의 조약돌 자세히 보기</span></a>
					</p>
				</div>
			</div>
		</section>

		<section id="spacehub" class="spacehub">
			<div class="bg"></div>
			<div class="inwrap">
				<div class="texts">
					<strong class="title elt-s elt-c">
						<em class="font-hh">Space Hub</em>는 <br class="mobile"><em class="font-hh">한화그룹</em> 우주 계열사들의 <br class="mobile">역량을 <br class="web">
						한곳에 모은 <em class="font-hh">한화</em> <br class="mobile">우주 사업 통합 브랜드입니다.
					</strong>
					<p class="ment">
						<span class="font-hh">Space Hub</span>는 국내/해외 테크놀로지 리더들과의 전략적 협력관계를 <br>
						설계해 지구에서 발사체를 띄우고, 위성으로 사람과 사람을 연결하고, <br>
						우주를 탐사해 인류의 영토를 확장하고 있습니다.
					</p>
					<a href="/space-hub/" class="btn-hud"><span><em class="font-hh">Space Hub </em> 자세히 보기</span></a>
				</div>
			</div>
		</section>

		<section id="network" class="network show">
			<div class="inwrap">
				<div class="visual">
					<div class="inwrap">
						<video class="video-content" poster="/resources/images/network.webp" loop muted playsinline>
							<source src="/resources/images/network.mov" type="video/mp4; codecs=hvc1" />
							<source src="/resources/images/network.webm" type="video/webm" />
						</video>
						<ul class="network-texts">
							<li><a href="/launch/"><strong>발사체</strong> <span>우주 발사체 체계 종합</span></a></li>
							<li><a href="/satellite/"><strong>위성</strong> <span>위성 통신 서비스, 지구 관측 및 분석</span></a></li>
							<li><a href="/exploration/"><strong>탐사</strong> <span>미래 우주 사업 개발</span></a></li>
							<li><a href="/media-room/"><strong>미디어룸</strong></a></li>
							<li><a href="/space-kids/introduce/"><strong>우주의 조약돌</strong> <span>세상에 없던 우주 교육</span></a></li>
						</ul>
					</div>
				</div>
				<div class="texts">
					<h3>Space Hub</h3>
					<p class="ment">한화 우주사업 통합 브랜드</p>
				</div>
			</div>
		</section>

	</main>

<%- include('./src/include/footer.ejs') %>
