<%- include('./src/include/header.ejs', { title: '우주의 조약돌 소개', gnbActive: 5 }) %>

	<main class="space-kids-introduce">
  
    <!-- sections -->
    <section id="introduce" class="introduce" data-section-name="소개">
      <span class="blind">소개</span>
      <div class="sticky">
				<div class="bg">
					<video class="video-content" poster="/resources/images/space-kids/introduce/introduce-bg.webp" loop muted playsinline>
						<source src="/resources/images/space-kids/introduce/introduce-bg.mov" type="video/mp4; codecs=hvc1" />
						<source src="/resources/images/space-kids/introduce/introduce-bg.mp4" type="video/mp4" />
					</video>
				</div>
        <div class="texts">
          <h2><img src="/resources/images/space-kids/introduce/logo-spacekids.svg" alt="우주의 조약돌"></h2>
          <h3>세상에 없던 우주 교육</h3>
          <p>
            <span>우주의 비밀과 무한한 가능성을 담은 우주의 조약돌.</span> <br>
            <span>KAIST 교수진과 함께 우주에 대한 전문 지식을 배우며,</span> <br>
            <span>인문학적 상상력을 키우는 과정을 통해, 스스로 생각하고</span> <br>
            <span>문제를 해결할 수 있는​ 미래 우주 과학자로 성장하게 됩니다.</span>
          </p>
        </div>
      </div>
    </section>

    <section id="program" class="program" data-section-name="프로그램">
      <span class="blind">프로그램</span>
      <div class="bg">
        <div class="moon">
          <video poster="/resources/images/space-hub/moon.webp" loop muted playsinline>
            <source src="/resources/images/space-hub/moon.mov" type="video/mp4; codecs=hvc1" />
            <source src="/resources/images/space-hub/moon.webm" type="video/webm" />
          </video>
        </div>
      </div>
      <div class="inwrap">
        <div class="heading">
          <span class="eyebrow">[ 우주의 조약돌 커리큘럼 ]​</span>
          <strong class="title">
            과학, 우주분야를 비롯한<br>
            미래 인재로 성장할 수 있는<br>
            프로그램을 제공합니다.
          </strong>
        </div>
        <div class="list">
          <ul class="accordion">
            <li>
              <button type="button">
                <span>[ STATION 01 ]</span>
                <strong>우주 인문학 컨퍼런스</strong>
              </button>
              <div class="content">
                <p>
                  과학 업계를 이끌어 나가는 과학자, 우주인, SF 작가, 연구원 등 다양한 강연자들을
                  직접 만나 이야기를 듣고 주제 토론의 기회가 주어집니다. 이 과정을 통해 '나의 진로'에
                  대해 진지하게 생각할 수 있는 모멘텀이 될 것으로 기대합니다.
                </p>
              </div>
            </li>
            <li>
              <button type="button">
                <span>[ STATION 02 ]</span>
                <strong>중학생 맞춤형 우주 미션 프로젝트​</strong>
              </button>
              <div class="content">
                <p>
                  KAIST 석・박사들의 팀프로젝트에 주로 쓰이던 개념설계 과정을 중학생 맞춤형 교육으로
                  녹인 우주의 조약돌의 메인 프로그램입니다. 학생들이 직접 선정한 주제를 스스로 완성하는
                  팀 프로젝트 방식으로 진행됩니다. 팀원들과 함께 문제를 해결해 나가는 개념설계 과정을
                  통해 사고력과 문제 해결 능력을 키울 수 있습니다.
                </p>
              </div>
            </li>
            <li>
              <button type="button">
                <span>[ STATION 03 ]</span>
                <strong>프로젝트 성과 발표회​</strong>
              </button>
              <div class="content">
                <p>
                  KAIST 항공우주공학과 교수진과 석・박사 멘토들이 학생들과 함께 아이디어를 모으고
                  토론하는 발표 준비의 과정을 통해 학생들은 엄청난 시너지와 팀워크를 경험할 수 있습니다.
                  전문가들과 프로젝트 성과물에 대해 논의하며 아이디어에 깊이를 더할 수 있습니다.
                </p>
              </div>
            </li>
            <li>
              <button type="button">
                <span>[ STATION 04 ]</span>
                <strong>Honor Club​</strong>
              </button>
              <div class="content">
                <p>
                  미래 우주 산업의 주역으로 성장할 수 있도록 과학 인재 네트워크를 형성하는 졸업생 관리
                  프로그램입니다. KAIST 총장 수료증과 영재 교육원 수강권을 지원합니다. 또한 글로벌 인재로
                  성장할 수 있도록 해외 탐방의 기회를 제공합니다.
                </p>
              </div>
            </li>
          </ul>
          <a href="../program/" class="btn-hud"><span>교육 프로그램 자세히 보기</span></a>
        </div>
      </div>
    </section>

    <section id="apply" class="apply" data-section-name="지원">
      <span class="blind">지원</span>
      <div class="inwrap">
        <div class="texts">
          <span class="eyebrow">[ 우주의 조약돌 세번째 탐사 : 지구 ]</span>
          <h3 class="title">
            지구의 미래를 위한 탐사로​ <br>
            미래 우주 과학자 <br class="mobile">여러분을 초대합니다.
          </h3>
          <a href="../apply/" class="btn-hud"><span>지원 안내 자세히 보기</span></a>
          <div class="bg">
            <div class="earth">
              <video poster="/resources/images/space-kids/introduce/apply-earth.webp" loop muted playsinline>
                <source src="/resources/images/space-kids/introduce/apply-earth.mov" type="video/mp4; codecs=hvc1" />
                <source src="/resources/images/space-kids/introduce/apply-earth.mp4" type="video/mp4" />
              </video>
            </div>
            <div class="kids"></div>
          </div>
        </div>
      </div>
    </section>

    <section id="mediaroom" class="mediaroom" data-section-name="미디어">
      <span class="blind">미디어</span>
      <div class="inwrap">
        <div class="texts">
          <h3 class="title">
            우주를 향한 꿈을 펼칠
            우주의 조약돌 참가자들을
            만나보세요
          </h3>
        </div>
        <div class="slider">
          <div class="swiper">
            <div class="swiper-wrapper">
              <% for (let i = 0; i < Math.min(4, spaceKidsMediaRoomData.spaceHubTv.length); i++) { %>
                <div class="swiper-slide" data-category="<%= spaceKidsMediaRoomData.spaceHubTv[i].category %>" data-item-id="<%= spaceKidsMediaRoomData.spaceHubTv[i].id %>">
                  <div class="inner-video video-container">
                    <div class="mov" data-youtubeid="<%= spaceKidsMediaRoomData.spaceHubTv[i].videoId %>"></div>
                    <button class="control-play">
                      <img src="/resources/images/media-room/<%= spaceKidsMediaRoomData.spaceHubTv[i].thumbnail %>" alt="" />
                      <span class="play"><img src="/resources/images/icon-play.svg" alt="youtube play" /></span>
                    </button>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
          
          <div class="swiper-nav">
            <div class="swiper-button">
              <div class="swiper-button-prev"></div>
              <div class="swiper-button-next"></div>
            </div>
            <div class="swiper-paging">
              <div class="swiper-pagination"></div>
              <span class="bar"></span>
            </div>
          </div>
        </div>
        <div class="btns">
          <a href="../media-room/" class="btn-hud"><span>미디어룸 자세히 보기</span></a>
          <ul class="sns">
            <li class="youtube">
              <a href="https://www.youtube.com/@SpaceHubTV/videos" target="_blank">
                <picture class="picture">
                  <source media="(min-width: 1024px)" srcset="/resources/images/space-kids/introduce/logo-youtube.png">
                  <source media="(max-width:767px)" srcset="/resources/images/space-kids/introduce/logo-youtube-m.png">
                  <img src="/resources/images/space-kids/introduce/logo-youtube.png" alt="스페이스허브 유튜브 바로가기">
                </picture>
              </a>
            </li>
            <li class="insta">
              <a href="https://www.instagram.com/thespacekids_official/" target="_blank">
                <picture class="picture">
                  <source media="(min-width: 1024px)" srcset="/resources/images/space-kids/introduce/logo-insta.png">
                  <source media="(max-width:767px)" srcset="/resources/images/space-kids/introduce/logo-insta-m.png">
                  <img src="/resources/images/space-kids/introduce/logo-insta.png" alt="스페이스허브 인스타그램 바로가기">
                </picture>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>

		<section id="support" class="support" data-section-name="후원">
      <span class="blind">후원</span>
			<div class="sticky">
				<div class="visual">
				</div>
        <article class="copy">
          <h3 class="title">우주의 조약돌은 <br class="mobile">우주 대표 기관에서 지원합니다.</h3>
        </article>
				<article class="partners">
          <div class="organizer">
            <strong>[ 주관 ]</strong>
            <ul>
              <li><img src="/resources/images/logo-kaist.png" alt="카이스트" /></li>
              <li><img src="/resources/images/logo-aero.png" alt="항공우주공학과" /></li>
            </ul>
          </div>
          <div class="host">
            <strong>[ 주최 ]</strong>
            <ul>
              <li class="space-hub"><span class="font-hh">Hanwha Space Hub</span></li>
              <li><img src="/resources/images/logo-aerospace.png" alt="한화에어로스페이스" /></li>
              <li><img src="/resources/images/logo-hanwha-system.png" alt="한화시스템" /></li>
              <li><img src="/resources/images/logo-hanwha.png" alt="한화" /></li>
            </ul>
          </div>
          <div class="partner">
            <strong>[ 협력기관 ]</strong>
            <ul>
              <li><img src="/resources/images/logo-galdar.png" alt="갈다" /></li>
            </ul>
          </div>
				</article>
			</div>
		</section>

		<!-- 참가신청 링크 -->
    <!-- <div class="signup-link-wrap sk-after-open">
      <div class="sticky">
        <div class="signup-link active">
          <a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=13114" target="_blank" class="btn-hud btn-hud-em">
            <span>3기 모집 참가신청</span>
            <p class="info">(지원 사이트(한화인) - 인턴 공고란에서 확인)</p>
          </a>
        </div>
      </div>
    </div> -->

	</main>

<%- include('./src/include/footer.ejs') %>