<%- include('./src/include/header.ejs', { title: '위성', gnbActive: 2 }) %>

	<main class="satellite">
    <!-- earth -->
    <div class="earth-wrap">
      <div class="sticky">
        <div class="stars"></div>
        <div class="earth">
          <video poster="/resources/images/space-hub/earth.webp" loop muted playsinline>
            <source src="/resources/images/space-hub/earth.mov" type="video/mp4; codecs=hvc1" />
            <source src="/resources/images/space-hub/earth.webm" type="video/webm" />
          </video>
        </div>
      </div>
    </div>
  
    <!-- sections -->
    <section id="vision" class="vision" data-section-name="비전">
      <h4 class="blind">비전</h4>
      <div class="sticky">
        <div class="earth-visual-1"></div>
        <div class="texts">
          <h2>Satellite</h2>
          <h3>
            Connect the space,<br class="mobile">
            connect the future
          </h3>
        </div>
      </div>
    </section>
		<section id="space-internet" class="space-internet" data-section-name="우주 인터넷" data-focus-offset="4000" data-focus-offset-m="2500">
      <h4 class="blind">우주 인터넷</h4>
      <article class="internet">
        <div class="sticky">
          <div class="earth-visual-1">
            <span>
              <img src="/resources/images/satellite/space-internet-internet-earth-visual-1.png" alt="">
            </span>
					</div>
          <div class="earth-visual-2">
            <div class="line"></div>
            <div class="in">
              <video poster="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webp" loop muted playsinline>
                <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.mov" type="video/mp4; codecs=hvc1" />
                <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webm" type="video/webm" />
              </video>
            </div>
            <div class="out">
              <video poster="/resources/images/satellite/space-internet-internet-earth-visual-2-out.webp" loop muted playsinline>
                <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-out.mov" type="video/mp4; codecs=hvc1" />
                <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-out.webm" type="video/webm" />
              </video>
            </div>
					</div>
          <div class="contents">
            <div class="texts">
              <span class="eyebrow">뉴 스페이스 시대</span>
              <h6 class="title">우주 <br>인터넷 서비스</h6>
              <div class="desc">
                <p class="text">
                  지구 저궤도(LEO) 상공에 수백~수천 기의 통신위성을
                  배치하여, 글로벌 인터넷 서비스 공급은 물론 고속으로
                  이동하는 항공기·선박·기차·차량 등에도 24시간
                  광대역 통신이 가능한 초공간 통신 인프라를 제공합니다.
                </p>
                <p class="text">
                  스페이스 허브는 우주 인터넷 해외 시장 선도업체인
                  OneWeb의 글로벌 파트너로서 한국 및 아시아 지역에 
                  위성통신서비스 공급을 목표로 OneWeb과 상업
                  계약을 추진 중에 있습니다.
                </p>
              </div>
            </div>
            <ul class="images">
              <li class="image">
                <img src="/resources/images/satellite/space-internet-internet-1.webp" alt="">
              </li>
              <li class="image">
                <img src="/resources/images/satellite/space-internet-internet-2.webp" alt="">
              </li>
              <li class="image">
                <img src="/resources/images/satellite/space-internet-internet-3.webp" alt="">
              </li>
            </ul>
          </div>
        </div>
      </article>
      <article class="communication">
        <div class="sticky">
          <div class="earth-visual-1">
            <video poster="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webp" loop muted playsinline>
              <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.mov" type="video/mp4; codecs=hvc1" />
              <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webm" type="video/webm" />
            </video>
            <div class="sats sats-leo">
              <div class="sats-leo-in">
                <div class="circle"></div>
                <span class="leo">
                  <span class="internet"></span>
                  <img src="/resources/images/satellite/space-internet-communication-icon-satellite.png" alt="">
                  <em>LEO 1,200km</em>
                </span>
              </div>
            </div>
            <div class="sats sats-other">
              <span class="antena">
                <span class="internet"></span>
                <img src="/resources/images/satellite/space-internet-communication-icon-antena.png" alt="">
              </span>
              <span class="geo">
                <img src="/resources/images/satellite/space-internet-communication-icon-satellite.png" alt="">
                <em>GEO 35,000km</em>
              </span>
            </div>
					</div>
          <div class="earth-visual-2">
            <!-- <canvas width="800" height="800"></canvas> -->
            <video poster="/resources/images/satellite/space-internet-communication-beam.png" loop muted playsinline preload="none">
              <source src="/resources/images/satellite/space-internet-communication-beam.mov" type="video/mp4; codecs=hvc1" />
              <source src="/resources/images/satellite/space-internet-communication-beam.webm" type="video/webm" />
            </video>
					</div>
          <div class="texts texts-1">
            <div class="titles">
              <span class="eyebrow">뉴 스페이스 시대</span>
              <h6 class="title">전 세계 어디서나 <br>고품질 통신</h6>
            </div>
            <div class="desc">
              <p class="text">
                스페이스 허브는 미국 카이메타(Kymeta) 투자를 
                통해 우주 인터넷의 핵심 요소인 전자식 안테나 기술을 
                확보하고 있습니다.
              </p>
              <p class="text">
                특히 기존의 기계식 안테나가 가지고 있는 한계를 극복,
                차세대 위성 통신의 핵심 부품인 반도체 칩 기반의 평판형 
                전자식 빔 조향 위성안테나를 직접 개발 중입니다.                 
              </p>
            </div>
          </div>
          <div class="texts texts-2">
            <strong class="subtitle">
              혁신적인 <br>
              전자식 빔 조향 안테나
            </strong>
            <div class="desc">
              <p class="text">
                얇고, 가볍고, 모듈베이스의 확장성까지 갖춰 육상, 해상, 항공에서 
                이동하는 항공기, 선박, 차량 등 모든 플랫폼의 특징에 맞춰 
                적용이 가능합니다.
              </p>
              <p class="text">
                스페이스 허브는 저궤도 위성 뿐 아니라 기존의 정지궤도 
                위성 및 광대역 정지궤도 위성과도 모두 호환이 가능한 혁신적인
                위성안테나를 개발하고 있습니다.             
              </p>
            </div>
          </div>
        </div>
      </article>
      <article class="payload">
        <div class="sticky">
          <div class="earth-visual-1"></div>
          <div class="earth-visual-2">
            <div class="bg">
              <div class="particles">
                <video poster="/resources/images/satellite/space-internet-payload-earth-visual-2-particles.webp" loop muted playsinline>
                  <source src="/resources/images/satellite/space-internet-payload-earth-visual-2-particles.mov" type="video/mp4; codecs=hvc1" />
                  <source src="/resources/images/satellite/space-internet-payload-earth-visual-2-particles.webm" type="video/webm" />
                </video>
              </div>
              <div class="lines">
                <video poster="/resources/images/satellite/space-internet-payload-earth-visual-2-lines.webp" loop muted playsinline>
                  <source src="/resources/images/satellite/space-internet-payload-earth-visual-2-lines.mov" type="video/mp4; codecs=hvc1" />
                  <source src="/resources/images/satellite/space-internet-payload-earth-visual-2-lines.webm" type="video/webm" />
                </video>
              </div>
            </div>
            <div class="isl">
              <canvas width="900" height="900"></canvas>
            </div>
            <div class="esa">
              <canvas width="900" height="900"></canvas>
            </div>
					</div>
          <div class="earth-line-visual-1">
            <video poster="/resources/images/satellite/space-internet-payload-earth-visual-1.webp" loop muted playsinline>
              <source src="/resources/images/satellite/space-internet-payload-earth-visual-1.mov" type="video/mp4; codecs=hvc1" />
              <source src="/resources/images/satellite/space-internet-payload-earth-visual-1.webm" type="video/webm" />
            </video>
            <img src="" alt="">
          </div>
          <!-- <div class="earth-visual-3">
						<img src="/resources/images/launch/future-1-image.svg" alt="">
					</div> -->
          <div class="intro">
            <div class="texts">
              <span class="eyebrow">뉴 스페이스 시대</span>
              <h6 class="title">
                초연결 다계층 <br>
                통신위성 탑재체
              </h6>
              <div class="desc">
                <p class="text">
                  우주, 공중, 지상, 해양의 모든 플랫폼 간 통신 연결을 보장하기 위해
                  다계층의 모든 통신 체계를 하나의 네트워크로 통합하여 지역에 제약
                  없이 실시간으로 전송하는 통신 체계가 필요합니다.
                </p>
                <p class="text">
                  스페이스 허브는 저궤도에서 운영 중인 군집 위성의 핵심 구성품인
                  위성 간 통신 시스템(ISL), 전자식 빔조향 안테나(ESA), 첨단 디지털
                  통신 중계기(OBP) 등 초연결 다계층 통신체계를 위한 통신위성
                  탑재체를 자체 개발 중에 있습니다.         
                </p>
              </div>
            </div>
            <ul class="overview">
              <li>
                <span class="num">01</span>
                <strong class="tit">ISL</strong>
                <span class="txt">Inter-Satellite Link</span>
              </li>
              <li>
                <span class="num">02</span>
                <strong class="tit">ESA</strong>
                <span class="txt">Electronically Steerable <br>Antenna</span>
              </li>
              <li>
                <span class="num">03</span>
                <strong class="tit">OBP</strong>
                <span class="txt">On-Board Processor</span>
              </li>
            </ul>
          </div>
          <div class="lists">
            <div class="detail-wrap">
              <div class="details">
                <div class="item">
                  <div class="texts">
                    <strong class="subtitle">ISL: Inter-Satellite Link</strong>
                    <p class="text">지상을 거치지 않고 위성 간 <br>데이터를 레이저로 주고받는 기술</p>
                  </div>
                  <div class="image">
                    <img src="/resources/images/satellite/space-internet-payload-detail-isl.webp" alt="">
                  </div>
                </div>
                <div class="item">
                  <div class="texts">
                    <strong class="subtitle">ESA: <br class="mobile">Electronically Steerable Antenna</strong>
                    <p class="text">전 세계 어느 곳에서나 초고속 통신 </p>
                  </div>
                  <div class="image">
                    <img src="/resources/images/satellite/space-internet-payload-detail-esa.webp" alt="">
                  </div>
                </div>
                <div class="item">
                  <div class="texts">
                    <strong class="subtitle">OBP: On-Board Processor</strong>
                    <p class="text">첨단 디지털 통신 중계기의 통신 <br>경로를 정리해 주는 핵심 두뇌 역할</p>
                  </div>
                  <div class="image">
                    <img src="/resources/images/satellite/space-internet-payload-detail-obp.webp" alt="">
                  </div>
                </div>
              </div>
              <ul class="detail-nav">
                <li>ISL</li>
                <li>ESA</li>
                <li>OBP</li>
              </ul>
            </div>
            <ul class="lists-nav">
              <li>
                <span class="tit">ISL</span>
                <div class="image">
                  <img src="/resources/images/satellite/space-internet-payload-nav-isl.webp" alt="">
                </div>
              </li>
              <li>
                <span class="tit">ESA</span>
                <div class="image">
                  <img src="/resources/images/satellite/space-internet-payload-nav-esa.webp" alt="">
                </div>
              </li>
              <li>
                <span class="tit">OBP</span>
                <div class="image">
                  <img src="/resources/images/satellite/space-internet-payload-nav-obp.webp" alt="">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </article>
		</section>
		<section id="observation" class="observation" data-section-name="지구관측" data-focus-offset="1000" data-focus-offset-m="1000">
      <h4 class="blind">지구관측</h4>
      <div class="sticky">
        <div class="earth-line">
          <div class="deco">
            <span class="line"></span>
          </div>
          <div class="targeting">
            <div class="targeting-in">
              <div class="target">
                <span class="inline"></span>
                <span class="outline">
                  <span class="line"></span>
                </span>
                <div class="decoline">
                  <!-- <img src="/resources/images/satellite/observation-intro.png" alt=""> -->
                </div>
              </div>
              <div class="point">
                <span class="spot"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="earth-visual-1"></div>
        <div class="earth-visual-2"></div>
        <div class="earth-visual-3"></div>
        <div class="earth-visual-4"></div>
        <div class="earth-visual-5"></div>

        <div class="intro texts">
          <span class="eyebrow">세계 최고 수준</span>
          <h6 class="title">지구 관측 서비스</h6>
          <div class="desc">
            <p class="text">
              스페이스 허브는 지구를 관측하는<br>
              전자광학(EO), 적외선 센서(IR), 영상레이다(SAR) 3가지<br>
              기술을 국내에서 유일하게 모두 보유하고 있습니다.
            </p>
          </div>
        </div>
        <div class="lists">
          <div class="detail-wrap">
            <div class="details">
              <div class="item">
                <div class="texts">
                  <span class="icon">
                    <img src="/resources/images/satellite/observation-details-eo.svg" alt="">
                  </span>
                  <strong class="subtitle">햇빛 아래의 세상을 보는 <br>EO: Electro-Optical</strong>
                  <p class="text">전자광학 카메라로 주간에 사용</p>
                </div>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-eo.webp" alt="">
                </div>
              </div>
              <div class="item">
                <div class="texts">
                  <span class="icon">
                    <img src="/resources/images/satellite/observation-details-ir.svg" alt="">
                  </span>
                  <strong class="subtitle">깜깜한 한밤중에도 세상을 <br>담는 IR: Infra-Red</strong>
                  <p class="text">적외선 카메라로 주 야간에 사용</p>
                </div>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-ir.webp" alt="">
                </div>
              </div>
              <div class="item">
                <div class="texts">
                  <span class="icon">
                    <img src="/resources/images/satellite/observation-details-sar.svg" alt="">
                  </span>
                  <strong class="subtitle">어떠한 기상 조건에도 세상을 관측하는 <br>SAR: Synthetic Aperture Radar</strong>
                  <p class="text">레이다 방식을 이용해 주 야간 및 악천후에도 사용</p>
                </div>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-sar.webp" alt="">
                </div>
              </div>
            </div>
            <ul class="detail-nav">
              <li>EO</li>
              <li>IR</li>
              <li>SAR</li>
            </ul>
          </div>
          <div class="lists-nav">
            <ul class="current">
              <li>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-eo.webp" alt="">
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-ir.webp" alt="">
                </div>
              </li>
              <li>
                <div class="image">
                  <img src="/resources/images/satellite/observation-lists-sar.webp" alt="">
                </div>
              </li>
            </ul>
            <div class="list">
              <img src="/resources/images/satellite/observation-lists-nav.webp" alt="">
            </div>
          </div>
        </div>
        <div class="info">
          <div class="item">
            <div class="image">
              <img src="/resources/images/satellite/observation-info-1.webp" alt="">
            </div>
            <div class="inwrap">
              <div class="texts">
                <strong class="subtitle">우주용 EOIR 카메라 </strong>
                <div class="desc">
                  <p class="text">
                    스페이스 허브는 지난 40년간의 지상∙항공용 EOIR 카메라
                    개발 경험과 노하우를 활용하여 지구 관측, 국가 안보, 원격
                    탐사 등에 활용할 수 있는 완전무결한 우주용 EOIR 카메라를
                    개발하고 있습니다.
                  </p>
                  <p class="text">
                    2015년에 발사된 다목적실용위성3A호용 IR 탑재체는 국내
                    최초 개발이자 세계 최고 수준의 IR 성능을 자랑합니다. <br>
                    또한 공동 개발로 참여한 차세대중형위성용 EO 카메라는
                    2021년에 1호기가 발사되어 성공적으로 운용 중에 있어
                    우주용 EO 카메라 기술을 검증받았습니다. 
                  </p>
                  <p class="text">
                    독보적인 기술력을 바탕으로 우주용 EOIR 카메라 개발 기술을 
                    발전시켜 나가겠습니다.
                  </p>
                </div>
              </div>
            </div>
            <span class="sourceby">ⓒ 한국항공우주연구원</span>
          </div>
          <div class="item">
            <div class="image">
              <img src="/resources/images/satellite/observation-info-2.webp" alt="">
            </div>
            <div class="inwrap">
              <div class="texts">
                <strong class="subtitle">소형 SAR 위성</strong>
                <div class="desc">
                  <p class="text">
                    스페이스 허브는 뉴 스페이스 시대가 필요로 하는 소형 SAR 위성을 순수 국내 기술로 개발하고 있습니다.
                  </p>
                  <p class="text">
                    소형 SAR 위성은 전세계를 이동하며, 밤낮으로 기상의 영향을 받지 않고 원하는 목표 지역을 적시에 촬영하여 필요한 영상 정보를 제공할 수 있습니다.
                  </p>
                  <p class="text">
                    위성 개발·제조·제작부터 위성발사, 지상국 운용 그리고 위성활용 서비스까지 End-to End Solution을 공급하는 업체로 다양한 센서 탑재체의 위성을 활용한 Multi-Sensor Satellite Constellation을 구축하여 글로벌 커버리지 모니터링 지역 확대와 영상 서비스 사업을 추진하고자 합니다.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="geoint">
          <div class="bg">
            <canvas width="1920" height="1080"></canvas>
            <video poster="/resources/images/satellite/observation-geoint-video.webp" loop muted playsinline>
              <source src="/resources/images/satellite/observation-geoint-video.mov" type="video/mp4; codecs=hvc1" />
              <source src="/resources/images/satellite/observation-geoint-video.webm" type="video/webm" />
            </video>
          </div>
          <div class="texts">
            <div class="texts-in">
              <span class="eyebrow">AI GEOINT</span>
              <h6 class="title">지구관측 <br>데이터 분석</h6>
              <div class="desc">
                <p class="text">
                  인공위성 영상 데이터를 인공지능 AI 기술과 접목해 <br>
                  국방, 기상, 재난, 국토, 해양 등 폭넓은 분야에서 환경/
                  재난을 예측하고, 산업 인프라 관리 및 동향을 분석합니다.
                </p>
                <p class="text">
                  지구를 데이터화하고, 지구의 미래를 예측해 <br>
                  지구와 인류에 꼭 필요한 인사이트를 제공하고 있습니다.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
		</section>
		<section id="roadmap" class="roadmap" data-section-name="로드맵" data-focus-offset="600" data-focus-offset-m="600">
      <h4 class="blind">로드맵</h4>
			<div class="sticky">
        <div class="earth-visual-1">
          <video poster="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webp" loop muted playsinline>
            <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.mov" type="video/mp4; codecs=hvc1" />
            <source src="/resources/images/satellite/space-internet-internet-earth-visual-2-in.webm" type="video/webm" />
          </video>
        </div>
        <div class="earth-visual-2"></div>
        <div class="earth-visual-3"></div>
        <div class="earth-satellite">
          <div class="leo">
            <div class="leo-in"></div>
          </div>
          <div class="overlay">
            <div class="overlay-in"></div>
          </div>
          <div class="grounds">
            <div class="service-1">
              <div class="sar"></div>
            </div>
            <div class="service-2">
              <div class="drone"></div>
              <div class="uav"></div>
              <div class="ifec">
                <span class="internet"></span>
              </div>
            </div>
            <div class="ground">
              <div class="station">
                <div class="motion">
                </div>
                <div class="model">
                  <img src="/resources/images/satellite/roadmap-sats-ground-station.png" alt="Ground Station">
                </div>
              </div>
              <div class="bus">
                <span class="internet"></span>
              </div>
              <div class="ship">
                <span class="internet"></span>
              </div>
            </div>
          </div>
          <div class="text">
            <p>
              우주 인터넷 서비스를 기반으로 모빌리티, IoT로 확장하고,<br>
              지구관측 융합 서비스로 발전하는 초연결, 초지능, 초융합의 미래
            </p>
          </div>
        </div>
        <div class="texts">
          <p>Connect the future</p>
          <p>
            <span>초연결</span> <span>초지능</span> <span>네트워크</span></p>
          <p class="small">
            <span>뉴 스페이스 시대, 스페이스 허브의 위성 서비스 기술로</span>
            <span>지구와 인류의 지속가능한 내일을 만들어 갑니다.</span>
          </p>
        </div>
      </div>
		</section>
	</main>

<%- include('./src/include/footer.ejs') %>