main.not-found {
	height: 100%; background: url('#{ $image-path }etc/space-bg.png') no-repeat 50% 50% / cover;

	&:before,
	&:after {position: absolute; left: calc(50% - 2px); top: calc(50% + 208px); bottom: 0; content: ''; border-left: 1px solid #fff; opacity: 0.2;}
	&:after {top: 0; bottom: calc(50% + 208px);}

	.ment {
		height: 100%; font-size: 40px; font-weight: 100; line-height: 42px; background: url('#{ $image-path }etc/not-found-hud.svg') no-repeat 50% 50%; display: flex; align-items: center; justify-content: center;
		&:before,
		&:after {position: absolute; left: calc(50% + 378px); right: 0; top: calc(50% + 6px); content: ''; border-top: 1px solid #fff; opacity: 0.2;}
		&:after {left: 0; right: calc(50% + 378px);}
	}

	.hanwha-link {
		position: absolute; left: 30px; bottom: 22px; z-index: 1;
		a {padding: 10px; display: block;}
		img {height: 38px;}
	}

	@include mobile {
		&:before,
		&:after {content: none;}

		.ment {
			font-size: 17px; line-height: 18px; background: url('#{ $image-path }etc/not-found-hud-m.svg') no-repeat 50% calc(50% + 11px);
			&:before,
			&:after {content: none;}
		}

		.hanwha-link {
			left: 6px; bottom: -2px;
			img {height: 20px;}
		}
	}

	& ~ #footer {
		display: none;
	}
}