@font-face {
  font-family: 'Hanwha';
  font-style: normal;
  font-weight: 700;
  src: url('#{ $font-path }HanwhaB.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha';
  font-style: normal;
  font-weight: 400;
  src: url('#{ $font-path }HanwhaR.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha';
  font-style: normal;
  font-weight: 200;
  src: url('#{ $font-path }HanwhaL.woff') format('woff');
}

@font-face {
  font-family: 'Hanwha Gothic';
  font-style: normal;
  font-weight: 700;
  src: url('#{ $font-path }HanwhaGothicB.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('#{ $font-path }HanwhaGothicR.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha Gothic';
  font-style: normal;
  font-weight: 300;
  src: url('#{ $font-path }HanwhaGothicL.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha Gothic';
  font-style: normal;
  font-weight: 200;
  src: url('#{ $font-path }HanwhaGothicEL.woff') format('woff');
}
@font-face {
  font-family: 'Hanwha Gothic';
  font-style: normal;
  font-weight: 100;
  src: url('#{ $font-path }HanwhaGothicT.woff') format('woff');
}

@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 100;
  src: url('#{ $font-path }YDIYGO310.woff2') format('woff');
}
@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 200;
  src: url('#{ $font-path }YDIYGO320.woff2') format('woff');
}
@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 300;
  src: url('#{ $font-path }YDIYGO330.woff2') format('woff');
}
@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 400;
  src: url('#{ $font-path }YDIYGO340.woff2') format('woff');
}
@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 500;
  src: url('#{ $font-path }YDIYGO350.woff2') format('woff');
}
@font-face {
  font-family: 'YDIYGO';
  font-style: normal;
  font-weight: 600;
  src: url('#{ $font-path }YDIYGO360.woff2') format('woff');
}

@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 400;
  src: url('#{ $font-path }NotoSans-Regular.woff2') format('woff');
}
@font-face {
  font-family: 'NotoSans';
  font-style: normal;
  font-weight: 500;
  src: url('#{ $font-path }NotoSans-Medium.woff2') format('woff');
}
