
main.main {
	position: relative;
  --side-margin: 80px;
  @include laptop{ --side-margin: 40px; }
  @include mobile{ --side-margin: 16px; }

  *, *::after, *::before{ box-sizing: border-box; word-break: keep-all; }
	section{ position: relative; }
  .sticky{ overflow: hidden; position: sticky; top: 0; width: 100%; height: 100vh; }
	section:not(.visual) {
		.inwrap{ width: 2560px; max-width: 100%; padding: 0 var(--side-margin); }
    .title{ display: block; font-size: 32px; font-weight: 300; color: #fff; line-height: 1.5; }
		.ment{ display: block; margin-top: 40px; font-size: 20px; font-weight: 300; color: #fff; line-height: 1.8; }
		.text{ display: block; width: 500px; margin-top: 40px; font-size: 16px; font-weight: 300; color: #fff; line-height: 1.75; }
		.btn-hud{ margin-top: 60px; }

		@include laptop-only{
      .title{ font-size: 28px; }
			.ment{ font-size: 18px; }
    }
    @include tablet-only{
      .title{ font-size: 24px; }
			.ment{ margin-top: 24px; font-size: 16px; }
			.text{ margin-top: 24px; }
    }
    @include mobile{
      .title{ font-size: 17px; line-height: 1.65; }
			.ment{ margin-top: 24px; font-size: 12px; line-height: 1.67; }
			.text{ width: 240px; margin-top: 24px; font-size: 12px; line-height: 1.67; } 
			.btn-hud{ --btn-width: 160px; --btn-height: 48px; margin-top: 44px; }

			html[lang="en"] & {
				.btn-hud{ --btn-width: 180px; }
			}
    }
	}
	br.tablet{
		display: none;
		@include tablet {
			& {display: block;}
		}
	}
	br.web {
		@include mobile {
			& {display: none;}
		}
	}

	._debug & {
		section{ border: 1px solid red; }
	}

	// .elt-s{
	// 	& > span > span {opacity: 1 !important; transform: translate3d(0, 0, 0) !important;}
	// } 

	// bg space
	.bg-space{
		pointer-events: none;
		position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;
		background: url('#{ $image-path }main/bg-space.webp') repeat 50% 0 / 100%;
		@include tablet{ background-size: 200%; }
	}

	// visual
	#visual {
		width: 100%; height: 200vh;
		
		.texts{
			display: flex; flex-direction: column; justify-content: center; position: absolute; left: 40px; right: 40px; z-index: 2; 
			height: 100%; padding: 0 20px; text-align: left;
		}
		h2 {
			// position: absolute; left: 75px; right: 75px; bottom: calc(50% + 20px); 
			font-family: $font-ns; font-size: 56px; font-weight: 400; line-height: 1.3; z-index: 1;
			span {white-space: nowrap;}
		}
		.ment {
			margin-top: 24px; font-size: 20px; font-weight: 300; line-height: 32px; z-index: 1;
			em {font-family: $font-h; font-weight: 400;}
		}
		.bg{ 
			pointer-events: none;
			position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%;
			.video-content{width: 100%; height: 100%; object-fit: cover;}
		}

		.decos {
			pointer-events: none;
			position: absolute; left: 40px; right: 40px; top: 86px; bottom: 112px; z-index: -1;

			.lens{
				position: absolute; top: 0; left: 0; width: 100%; height: 100%;
				&-out{
					position: absolute; top: 0; left: 0; width: 100%; height: 100%;
					background:
						linear-gradient(to right, $key-color 1px, transparent 1px) 0 0,
						linear-gradient(to right, $key-color 1px, transparent 1px) 0 100%,
						linear-gradient(to left, $key-color 1px, transparent 1px) 100% 0,
						linear-gradient(to left, $key-color 1px, transparent 1px) 100% 100%,
						linear-gradient(to bottom, $key-color 1px, transparent 1px) 0 0,
						linear-gradient(to bottom, $key-color 1px, transparent 1px) 100% 0,
						linear-gradient(to top, $key-color 1px, transparent 1px) 0 100%,
						linear-gradient(to top, $key-color 1px, transparent 1px) 100% 100%;
					background-repeat: no-repeat;
					background-size: 120px 120px;
					opacity: 0.4;
				}
				&-focus {
					position: absolute; left: 50%; top: 50%; width: 480px; height: 270px; transform: translate(-50%, -50%);
					background-image:
						linear-gradient(90deg, #f77d15 20px, transparent 20px, transparent calc(100% - 20px), #f77d15 calc(100% - 20px)),
						linear-gradient(90deg, #f77d15 20px, transparent 20px, transparent calc(100% - 20px), #f77d15 calc(100% - 20px)),
						linear-gradient(180deg, #f77d15 20px, transparent 20px, transparent calc(100% - 20px), #f77d15 calc(100% - 20px)),
						linear-gradient(180deg, #f77d15 20px, transparent 20px, transparent calc(100% - 20px), #f77d15 calc(100% - 20px)),
						linear-gradient(90deg, transparent calc(50% - 25px), #f77d15 calc(50% - 25px), #f77d15 calc(50% + 25px), transparent calc(50% + 25px)),
						linear-gradient(180deg, transparent calc(50% - 25px), #f77d15 calc(50% - 25px), #f77d15 calc(50% + 25px), transparent calc(50% + 25px));
					background-repeat: no-repeat, no-repeat;
					background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%, 100% 1px, 1px 100%;
					background-position: 0 0, 0 100%, 0 0, 100% 0, 0 50%, 50% 0;
				}
			}

			.wolf{ 
				display: block; position: absolute; top: 0; left: 0; padding: 20px; font-size: 12px; font-weight: 300; color: #f37331; line-height: 1.67; letter-spacing: 0.96px; text-transform: uppercase;
				overflow: hidden; white-space: nowrap; width: 140px;
				&::before{ content: ''; display: inline-block; width: 8px; height: 8px; margin-right: 8px; border-radius: 50%; background-color: #f37331; }
			}

			.credit{
				display: flex; flex-direction: column; align-items: flex-end;
				position: absolute; top: 0; right: 0; padding: 20px;
				font-size: 12px; font-weight: 300; color: #f37331; line-height: 1.5; letter-spacing: 0.96px; text-align: right; text-transform: uppercase;
				span{ overflow: hidden; display: flex; justify-content: flex-end; white-space: nowrap; }
				.date{ margin-bottom: 16px; width: 150px; }
				.image{ 
					display: inline-flex; position: relative; z-index: 2; width: 110px; margin-bottom: 5px; padding: 0 5px; font-weight: 500; color: #000;
					span{ width: 100px; }
					&::after{ content: ''; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background: #f37331; }
				}
				.txt{ width: 200px; }
			}
		}

    .mark-scroll{
      @include desktop{
        position: absolute; bottom: 42px; left: 50%; transform: translate3d(-50%, 0, 0);
        font-size: 12px; font-weight: 500; color: #fff; line-height: 3.33; letter-spacing: 2px; text-transform: uppercase;
      }
      @include tablet{ display: none; }
    }

		&:not(.active) {
			h2,
			.ment {opacity: 0; transform: translate3d(0, 50px, 0);}
			.title {opacity: 0;}
			.decos{
				.lens-out { opacity: 0; transform: scale(1.15); transition: opacity .3s, transform 0s .3s; }
				.lens-focus {opacity: 0; transform: translate(-50%, -50%) scale(2);}
				.wolf{ opacity: 0; width: 30px; padding-right: 0; }
				.credit{ opacity: 0; }
				.date,
				.image span,
				.image::after,
				.txt{ opacity: 0; width: 0; }
			}
			.banner-wrap,
			.banner-link {opacity: 0; transform: translate3d(120%, 0, 0);}
			.bg{opacity: 0; transform: scale(1.1);}
		}
		&.active {
			h2,
			.ment {transition: opacity 0.5s ease-out, transform 1s $ease-out-quart;}
			.ment {transition-delay: 0.1s;}
			.title {transition: opacity 0.7s 0.5s ease-out;}
			.title {transition-delay: 1s;}
			.decos{
				.lens-out { transition: opacity .3s ease-out, transform .75s cubic-bezier(.18,.89,.26,1.23); transition-delay: .3s; }
				.lens-focus {transition: opacity .3s ease-out, transform .75s cubic-bezier(0.18, 0.89, 0.26, 1.23); transition-delay: .3s; }
				.wolf{ transition: opacity .4s .4s ease-out, width 1s .8s ease-out, padding 1s .8s ease-out; } 
				.credit{ transition: opacity .8s ease-out; }
				.date,
				.image span,
				.txt{ transition: opacity .4s .4s ease-out, width 1s .8s ease-out; } 
				.image::after{ transition: opacity .4s ease-out, width 1s ease-out; } 
			}
			.banner-wrap,
			.banner-link  {transition: opacity 0.3s ease-out, transform 1s $ease-out-quart; transition-delay: 1.1s;}
			.bg{ transition: opacity 1.2s ease-out, transform 1s $ease-out-quart; }
		}

    @include laptop-only{
      h2{ font-size: 40px; }
    }
		@include tablet{
			.texts{ padding: 0; }
      h2{ font-size: 30px; }
      .ment{ margin-top: 16px; font-size: 16px; line-height: 1.6; }
			.decos{
				.lens-out{ background-size: 24px 24px; }
				.lens-focus,
				.credit .image,
				.credit .txt{ display: none; } 
				.credit,
				.wolf{ padding: 10px 12px; font-size: 10px; }
			}
			// .bg::after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: 0.6; }
		}
		@include mobile {
			.texts{ left: 16px; right: 16px; padding: 0; }
			h2 { font-size: 24px; letter-spacing: 0.38px; line-height: 32px; }
			.ment {
				margin-top: 16px; font-size: 12px; line-height: 20px;
				em {font-family: $font-h; font-weight: 400;}
			}
			.decos { left: 16px; right: 16px; top: 52px; bottom: 48px; }
		}
	}

	// launch
	#launch{
		margin-top: -100vh; background: #000; z-index: 1;

		.sticky{ display: flex; align-items: center; }
		.bg-space{
			z-index: 0; height: auto;
			img{ width: 100%; }
			.bg{ position: absolute; top: 0; left: 0; z-index: 2; width: 100%; height: 100%; background: url('#{ $image-path }main/launch-bg.webp') no-repeat 50% 0 / 100%; mix-blend-mode: lighten; transition: transform .2s ease-out;
				&::after{ content: ''; position: absolute; bottom: -200px; left: 0; z-index: 3; width: 100%; height: 400px; background: linear-gradient(to bottom, transparent, #000, transparent); }
			}
		}
		
		@include desktop{
			height: 200vh; margin-bottom: -400px;
			.texts{ position: relative; top: 60px; /* transition: transform .2s; */ }
		}
		@include tablet{
			overflow: hidden; display: flex; flex-direction: column-reverse; justify-content: flex-end; padding-top: 120px; margin-bottom: -200px;
			.sticky{ overflow: visible; position: relative; height: auto; margin-bottom: 40px; }
			.bg-space{ position: relative; left: 50%; transform: translate3d(-46%, 0, 0); width: 180%; }
		}
	}

	// satellite
	#satellite{
		z-index: 1;
		height: min(3000px, 200vh);
		.sticky{ display: flex; align-items: center; justify-content: flex-end;  }
		.inwrap{ width: 605px; max-width: 100%; }
		.earth{ 
			display: flex; justify-content: center; align-items: center; z-index: -1; 
			video{ position: absolute; }
			.planet video{ top: 51%; left: 51.5%; transform: translate3d(-50%, -50%, 0); width: 104%; }
			.sat video{ top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 100%; }
			.sat{ opacity: 0; }

			._debug & { border: 1px solid blue; }
		}

		html[lang="en"] & {
			.inwrap{ width: 780px; }
		}

		@include desktop{
			.texts{ position: relative; top: 60px; /* transition: transform .2s; */ }
			.earth{ position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: min(800px, 40vw); height: min(800px, 40vw); }
		}
		@include tablet{
			.sticky{ flex-direction: column; justify-content: center; }
			.inwrap{ width: 360px; margin: 0 auto; }
			.earth{ position: relative; width: max(200px, 60vw); height: min(200px, 60vw); margin: 0 auto; margin-top: 100px; }
			.bg-space{ top: auto; bottom: 0; height: calc(100% - 150px); }
		}
		@include mobile{
			.inwrap{ width: 230px; }
		}
	}

	// exploration
	#exploration{ 
		height: min(3000px, 220vh); margin-bottom: -100vh;
		.inwrap{ width: 660px; }
		.bg{ pointer-events: none; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 125%; background: url('#{ $image-path }main/exploration-bg.webp') no-repeat bottom / 100%; }

		html[lang="en"] & {
			.inwrap{ width: 824px; }
		}
		
		@include desktop{
			.sticky{ padding-top: 22vh; }
			.texts{ /* transition: transform .2s; */ }
		}
		@include tablet{
			// margin-top: -200px;
			.sticky{ display: flex; align-items: flex-end; }
			.bg{ top: auto; bottom: 0; left: -20%; width: 130%; }
			.inwrap{ padding-top: 80px; padding-bottom: 280px; }
		}
	}

	// space-kids
	#space-kids{
		height: 3000px; 
		.sticky{ 
			display: flex; justify-content: center; align-items: center; background: #000;
		} 
		.orbit{
			--orbit-rotate: 0deg;
			position: absolute; border: 1px dashed rgba(255, 255, 255, 0.2); border-radius: 50%;

			.mars,
			.moon{
				position: absolute; transform: rotate(var(--orbit-rotate));
				&::before{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 100%; height: 100%; }
				&::after{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 100%; height: 100%; border: 1px solid #333; border-radius: 50%;}
				span{ 
					display: block; position: absolute; top: 50%; left: 100%; transform: translate3d(0, -50%, 0); z-index: 2; padding-left: 16px; font-size: 8px; font-weight: 400; color: $key-color; letter-spacing: 1.6px;
					&::before{ content: ''; display: block; position: absolute; top: 50%; left: 0; transform: translate3d(-50%, -50%, 0); width: 4px; height: 4px; background-color: $key-color; border-radius: 50%; }
					&::after{ content: ''; display: block; position: absolute; top: 50%; left: 0; transform: translate3d(-50%, -50%, 0); width: 12px; height: 12px; border: 1px solid $key-color; border-radius: 50%; opacity: 0.2; }
				}
			}
			.mars{ 
				top: 4%; left: 29%; width: 50px; height: 50px;
				&::before{ background: url('#{ $image-path }main-spacekids/exploration-deco-mars.webp') no-repeat center / contain; }
				&::after{ width: 120%; height: 120%; }
				span{ top: 30%; left: 105%; }
			}
			.moon{ 
				top: -0.3%; left: 44.8%; width: 56px; height: 56px;
				&::before{ background: url('#{ $image-path }main-spacekids/exploration-deco-moon.webp') no-repeat center / contain; }
				span{ top: 45%; }
			}

			@media screen and (min-width: 2100px) {
				.mars{ top: 4.1%; }
				.moon{ top: -0.15%; }	
			}
			@include desktop{ top: 25%; left: -70%; width: 300vw; height: 300vw; }
			@include laptop{
				.mars{ top: 3.6%; }
				.moon{ top: -0.6%; }
			}
			@include tablet{ top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 400px; height: 400px;
				.mars, .moon{ width: 40px; height: 40px;
					span{ padding-left: 10px; font-size: 6px; }
				} 
				.mars{ top: 85%; left: 15%; width: 36px; height: 36px; }
				.moon{ top: 2%; left: 70%; }
			}
		}
		.texts{ 
			position: relative; text-align: center;  
			& > p{ position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 945px; text-align: center; } 
			& > p:last-child{ transform: translate3d(-50%, -30%, 0) }
			strong{ font: inherit; line-height: inherit; color: inherit; }
			.title{ line-height: 1.75; }
			.btn-hud{ display: inline-flex; }
			.logo{ width: 512px; }
			.logo img{ max-width: 100%; } 

			@include desktop{
				top: 60px; /* transition: transform .2s; */
			}
			@include laptop-only{
				.logo{ width: 480px; }
			}
			@include tablet-only{
				width: 320px; max-width: 100%;
				.logo{ top: 50%; transform: translate3d(-50%, -50%, 0); width: 240px; }
			}
			@include mobile{
				width: 280px; max-width: 100%;
				& > p:last-child{ transform: translate3d(-50%, -45%, 0) }
				.logo{ top: 50%; transform: translate3d(-50%, -50%, 0); width: 180px; }
			}
		}

		
	}
  
  // spacehub
  #spacehub{
    display: flex; justify-content: center; z-index: 1;
    &::before{ content: ''; position: absolute; top: -100px; left: 0; width: 100%; height: 200px; background: linear-gradient(to bottom, transparent, #000, transparent); }
    .bg{ pointer-events: none; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; }
    .inwrap{ padding-top: 30vw; text-align: center; }
    .texts{
      .ment{ margin-top: 80px; font-size: 20px; font-weight: 300; color: #fff; line-height: 1.8; }
      .btn-hud{ margin: 0 auto; margin-top: 60px; z-index: 2; }
    }

		html[lang="en"] & {
			&::before{ display: none; }
		}

    @include desktop{
      height: max(115vw, 2000px); margin-top: -10vw;
      .bg{ pointer-events: none; background: url('#{ $image-path }main-spacekids/spacehub-bg.webp') no-repeat 50% 0 / cover; }
			.texts{ /* transition: transform .2s; */ }
    }
    @include tablet{
      padding: 120px 0 100px; margin-top: 0;
      .bg{ pointer-events: none; background: url('#{ $image-path }main-spacekids/spacehub-bg-m.webp') no-repeat center 40% / 100%; }
      .inwrap{ padding-top: 0; }
      .texts{
        .title br:not(.mobile){ display: none; }
        .ment{ width: 310px; margin: 240px auto 0; font-size: 17px; line-height: 1.6;
          br{ display: none; }
        }
        .btn-hud{ margin-top: 80px; }
      }
    }
    @include mobile{
      .texts{
        .title{ width: 248px; margin: 0 auto; }
        .ment{ width: 250px; margin-top: 260px; font-size: 15px; }
        .btn-hud{ margin-top: 80px; }
      }
    }
  }

	// network
	#network{
    -background: url('#{ $image-path }main/visual-network.webp') 50% 0 / cover; height: 100vh;
		&:after {position: absolute; left: 0; right: 0; top: -200px; height: 400px; content: ''; background: linear-gradient(to bottom, transparent, #000 40%, #000 60%, transparent); pointer-events: none;}

    &:not(.show) {
      .visual .inwrap {opacity: 0; transform: scale(1.2);}
      .texts h3,
      .texts .ment,
      .texts .link {opacity: 0; transform: translate3d(0, 50px, 0);}
    }
    &.show {
      .visual .inwrap {transition: opacity 0.7s ease-out, transform 1s $ease-out-quart;}
      .texts h3,
      .texts .ment,
      .texts .link {transition: opacity 0.3s ease-out, transform 1s $ease-out-expo; transition-delay: 0.3s;}
      .texts .ment {transition-delay: 0.4s;}
      .texts .link {transition-delay: 0.6s;}
    }

    .visual {
      overflow: hidden;
      position: absolute; left: 0; right: 0; top: 0; bottom: 0; -background: url('#{ $image-path }temp-network-light.webp') no-repeat 50% 50%;
      .inwrap {position: relative; width: 100%; height: 100%;}
      // video,
      // img {width: 100%; height: 100%; padding: 0; box-sizing: border-box; object-fit: contain; object-position: 50% 50%;}
      img,
      video {position: absolute; left: 50%; top: 50%; width: 1920px; height: 1080px; transform: translate(-50%, -50%);}
    }
    .texts {
      position: absolute; left: 0; right: 0; top: 50%; text-align: center; margin-top: -47px; pointer-events: none;
      h3 {font-family: $font-h; font-size: 80px; font-weight: 400; letter-spacing: 1.28px; white-space: nowrap; line-height: 95px;}
      .ment {font-size: 15px; font-weight: 400; line-height: 16px; margin-top: 8px; pointer-events: auto;}
      .link {
        margin-top: 50px;
        a {
          width: 204px; height: 72px; font-size: 12px; font-weight: 600; letter-spacing: 1.92px; text-transform: uppercase; line-height: 72px; border: 1px solid rgba(255, 255, 255, 0.6); border-radius: 24px; box-sizing: border-box; background: rgba(0, 0, 0, 0.59); display: inline-block; pointer-events: auto; transition: border-color 0.2s ease-out;
          &:after {width: 20px; height: 20px; content: ''; vertical-align: middle; margin-left: 12px; background: url('#{ $image-path }icon-arrow-right.svg') no-repeat; display: inline-block; transform: translateY(-1px);}
          @include hoverable {
            &:hover {border-color: #fff;}
          }
        }
      }
    }
    
    @include tablet {
      .network-texts {
        position: absolute; left: 50%; top: 50%;
        li {
          span {display: none;}
        }
      }
      &.show {
        .texts .link {transition-delay: 0.4s;}
      }
      .visual {
        .inwrap {top: -35px;}
      }
      .texts {
        h3 {font-size: 24px; line-height: 1.14; letter-spacing: 0px;}
        .ment {margin-top: 2px; font-size: 12px; line-height: 1.6;}
        .link {
          position: fixed; left: 16px; right: 16px; bottom: 122px; margin-top: 0;
          a {
            width: 100%; height: 56px; font-size: 10px; font-weight: 600; letter-spacing: 1.6px; text-transform: uppercase; line-height: 55px; border-radius: 12px;
            &:after {width: 14px; height: 9px; content: ''; margin-left: 9px; background-size: 100% auto; background-position: 0 50%;}
          }
        }
      }
    }
	}






	.banner-close-button {
		position: absolute; left: 50%; bottom: 24px; width: 48px; height: 48px; text-indent: -999em; border: 1px solid #fff; border-radius: 100%; background: none; overflow: hidden; z-index: 2; opacity: 0; visibility: hidden; transform: translateX(-50%); transition: opacity 0.5s ease-out, visibility 0.5s;
		&:before {position: absolute; left: 50%; top: 50%; width: 10px; height: 10px; content: ''; background: url('#{ $image-path }icon-close.svg') no-repeat 50% 50% / 100%; transform: translate(-50%, -50%);}
		html.expand-banner & {opacity: 1; visibility: visible; transition-delay: 0.3s;}
		@include hoverable {
			&:hover {
				&:before {transform: translate(-50%, -50%) rotate(90deg); transition: transform 0.5s $ease-out-quart;}
			}
		}
		@include mobile {
			bottom: 40px; width: 40px; height: 40px;
		}
	}
	.banner-wrap {
		position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; pointer-events: none; z-index: 2;
		html.expand-banner & {pointer-events: auto;}
		&:before {position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: ''; background: #000; opacity: 0; transition: opacity 1s ease-out;}

		.texts.small {pointer-events: auto; cursor: pointer; transition: opacity 0.2s 0.9s ease-out;}
		.texts.expanded {
			&.hide {
				opacity: 0; transition: opacity 0.1s ease-out;
			}
		}

		html.expand-banner & {
			transform: translate3d(0, 0, 0);
			&:before {opacity: 1;}

			.banner {
				right: 0; bottom: 0; width: 100%; height: 100%;
				&:after {left: 40px; right: 40px; top: 87px; bottom: 116px;}

				.texts.small {opacity: 0; pointer-events: none; transition: opacity 0.1s ease-out;}
				.texts.expanded {pointer-events: auto;}

				&.has-video {
					.visual {
						&:before {opacity: 0; transition-delay: 0s;}
					}
				}
			}
		}

		@include mobile {
			html.expand-banner & {
				.banner {
					&:after {left: 16px; right: 16px; top: 52px; bottom: 102px;}
				}
			}
		}

		.banner {
			position: absolute; right: 56px; bottom: 132px; width: 328px; height: 180px; transition: all 0.8s $ease-inout-quart;
			&:after {position: absolute; left: -4px; right: -4px; top: -4px; bottom: -4px; content: ''; border: 1px solid rgba(255, 255, 255, 0.2); transition: all 0.8s $ease-inout-quart; pointer-events: none;}

			@include mobile {
				right: 30px; bottom: 116px; width: 148px; height: 84px;
				&:after {left: -2px; right: -2px; top: -2px; bottom: -2px;}
			}

			&.count-down {
				.visual {
					position: relative; height: 100%; white-space: nowrap; z-index: 0;
					&:before {position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: ''; background: url('#{ $image-path }count-down.webp') no-repeat 50% 50% / cover; transition: opacity 0.5s 0.3s ease-out;}
					&:after {position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: ''; background: rgba(0, 0, 0, 0.4);}
					video {width: 100%; height: 100%; box-sizing: border-box; object-fit: cover; object-position: 50% 50%;}
				}
				.texts.small {
					position: absolute; left: 0; right: 0; top: 0; bottom: 0;
					strong {position: absolute; left: 0; right: 0; top: calc(50% - 37px); font-size: 20px; font-weight: 400; text-align: center; line-height: 22px;}
					p {
						position: absolute; left: 0; right: 0; top: 50%; font-size: 0; text-align: center;
						span {
							position: relative; font-size: 36px; font-weight: 400; line-height: 39px; padding: 0 14px; display: inline-block;
							&:not(:first-child):before,
							&:not(:first-child):after {position: absolute; left: -2px; top: 11px; width: 4px; height: 4px; content: ''; border-radius: 100%; background: #fff;}
							&:not(:first-child):after {top: 23px;}
						}
					}
				}

				.texts.expanded {
					position: absolute; left: 0; right: 0; top: 0; bottom: 0; cursor: pointer;
					&:before {
						position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: '';
						background:
							url('#{ $image-path }main/deco-hud-1.png') no-repeat 80% 55% / 15.67% auto,
							url('#{ $image-path }main/deco-hud-2.png') no-repeat 52% 78% / 93.28% auto;
					}

					&:not(.show) {
						&:before,
						h3 > span,
						h3 > em,
						p > *,
						.source {opacity: 0 !important; transform: translate3d(50px, 0, 0);}
					}
					&.show {
						h3 > span,
						h3 > em {transition: opacity 1s ease-out;}
						h3 > em {transition-delay: 0.6s;}
						p > * {
							transition: opacity 0.3s ease-out, transform 1s $ease-out-quart;
							@for $i from 1 to 9 {
								&:nth-child(#{$i}) {transition-delay: ($i * 0.07 + 1.2s);}
							}
						}
						&:before,
						.source {transition: opacity 1s ease-out;}
					}

					.inner {position: absolute; left: 80px; right: 80px; top: 43%; font-size: 0; transform: translateY(-50%);}
					.source {position: absolute; left: 80px; bottom: 156px; font-size: 12px; font-weight: 400; line-height: 13px; opacity: 0.8;}

					h3 {
						font-size: 24px; font-weight: 400; white-space: nowrap; vertical-align: middle; line-height: 70px; margin-right: 44px; display: inline-block;
						em {color: #ffeb00;}
					}
					p {
						width: 100%; max-width: 985px; font-size: 15px; font-weight: 600; white-space: nowrap; vertical-align: middle; line-height: 18px; display: inline-flex; align-items: center;
						> strong {
							height: 96px; font-size: 0; font-weight: 100; line-height: 96px; margin-right: 16px; display: inline-block; overflow: hidden;
							&.days {opacity: 0.4;}
							&.hours {font-weight: 200; opacity: 0.6;}
							&.minutes {font-weight: 300; opacity: 0.8;}
							&.seconds {font-weight: 600;}
							span {
								font-size: 88px; vertical-align: top; display: inline-block; transition: transform 0.7s $ease-out-cubic;
								&.ready {transform: translate3d(0, -50%, 0); transition: none;}
							}
						}
						> span {flex: 1;}
						> span:not(:last-child) {opacity: 0.6;}
					}
				}

				@include tablet {
					.texts.expanded {
						p {
							> span span {display: none;}
						}
					}
				}
				@include mobile {
					.texts.small {
						strong {top: calc(50% - 17px); font-size: 12px; line-height: 14px;}
						p {
							span {
								font-size: 15px; line-height: 16px; padding: 0 5px;
								&:not(:first-child):before,
								&:not(:first-child):after {left: -1px; top: 4px; width: 2px; height: 2px;}
								&:not(:first-child):after {top: 10px;}
							}
						}
					}
					.texts.expanded {
						&:before {content: none;}
						.inner {left: 28px; right: 28px;}
						.source {left: 28px; bottom: 116px; letter-spacing: 0;}
						h3 {
							font-size: 12px; line-height: 16px;
						}
						p {
							width: auto; font-size: 10px; letter-spacing: 2.64px; margin-top: 26px; display: flex; align-items: flex-end;
							> strong {
								height: 44px; font-size: 0; font-weight: 100; letter-spacing: 0; line-height: 46px; margin-right: 3px; display: inline-block; overflow: hidden;
								span {font-size: 44px;}
							}
							> span {flex: none; line-height: 22px; padding-right: 16px;}
						}
					}
				}
			}

			&.space-kids {
				background: #000;
				&:after {z-index: 1;}
				.visual {
					position: relative; height: 100%; white-space: nowrap; background: url('#{ $image-path }main/visual-space-kids.jpg') no-repeat 50% 50% / cover; z-index: 0; opacity: 0.7; transition: opacity 0.8s ease-out;
					html.expand-banner & {opacity: 1;}
					// &:after {position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: ''; background: rgba(0, 0, 0, 0.3); transition: opacity 0.8s ease-out;}
					// html.expand-banner &:after {opacity: 0;}
				}
				.texts.small {
					position: absolute; left: 0; right: 0; top: 0; bottom: 0;
					strong {position: absolute; left: 50%; top: 54%; width: 160px; height: 36px; text-indent: -999em; background: url('#{ $image-path }logo-space-kids.svg') no-repeat 50% 50% / 100%; overflow: hidden; transform: translate(-50%, -50%);}
				}

				.texts.expanded {
					position: absolute; left: 0; right: 0; top: 0; bottom: 0; height: auto; background: none;
					&:not(.show) {
						visibility: hidden; opacity: 0;
						.page-indicator {opacity: 0; transform: translate3d(0, -100%, 0);}
					}
					&.show {
						transition: opacity 0.5s;
						.space-kids-guideline {transition: opacity 0.5s;}
						.page-indicator {transition: opacity 0.3s, transform 0.5s $ease-out-quart; transition-delay: 1s;}
					}
					&.hide {
						.space-kids-guideline {opacity: 0; transition-duration: 0.25s;}
					}

					&.space-kids-visual {
						.space-kids-guideline {
							> ul {
								position: absolute; left: 80px; bottom: 148px; font-size: 17px; font-weight: 400; color: rgba(255, 255, 255, 0.58); line-height: 28px;
								&.guideline-part-2 {left: auto; right: 80px;}
								> li {
									h6 {font-weight: 600; color: #fff; margin: 40px 0 2px;}
									ul {
										li {
											position: relative; padding-left: 14px;
											&:before {position: absolute; left: 0; top: 12px; width: 4px; height: 4px; content: ''; background: currentColor;}
										}
									}
									&.period,
									&.award {
										position: relative; padding-left: 144px;
										h6 {position: absolute; left: 0; top: 0; margin: 0;}
									}
									&.period {margin-top: 40px;}
									&.award {margin-top: 5px;}
								}
							}
						}
						.primary-button {right: 80px; z-index: 1;}

						@include mobile {
							.space-kids-guideline {
								position: absolute; left: 24px; right: 24px; bottom: 156px; font-size: 12px; font-weight: 600; line-height: 16px; border-radius: 7px; background: rgba(0, 0, 0, 0.3);
								> ul {
									position: relative; left: auto; bottom: auto; font-size: 11px; color: rgba(255, 255, 255, 0.8); line-height: 14px;
									> li {
										padding: 16px 16px 15px !important; box-sizing: border-box;
										h6 {font-size: 12px; line-height: 16px; margin: 0 0 15px !important;}
										ul {
											li {
												&:before {top: 4px;}
											}
										}
										&.period,
										&.award {
											position: relative; margin: 0;
											h6 {position: static;}
										}
									}
								}
								.swiper-pagination {
									position: absolute; left: auto; right: 14px; top: 18px; bottom: auto; width: auto; font-size: 0;
									.swiper-pagination-bullet {
										width: auto; height: auto; margin: 0; padding: 2px; border-radius: 0; background: none;
										&:before {width: 4px; height: 4px; content: ''; border-radius: 2px; background: #fff; display: block; opacity: 0.6; transition: width 0.3s $ease-out-cubic, opacity 0.3s;}
										&.swiper-pagination-bullet-active:before {width: 16px; opacity: 1;}
									}
								}
							}
						}
					}
					.space-kids-visual {
						height: 100%; background: none;
						.texts {left: 80px; right: 80px; transform: translateY(-55%);}
					}

					.page-indicator {
						position: absolute; left: 50%; bottom: 130px; margin-left: -20px; z-index: 1;
						button {width: 40px; height: 40px; text-indent: -999em; border: none; background: url('#{ $image-path }icon-scroll.svg') no-repeat 50% 50%; overflow: hidden;}
					}

					.space-kids-backgrounds {
						position: absolute; left: 0; right: 0; top: 0; bottom: 0;
						[class*="space-kids-"] {
							position: absolute; left: 0; right: 0; top: 0; bottom: 0; opacity: 0; transition: opacity 0.5s ease-out;
							&:before {position: absolute; left: 0; right: 0; top: 0; bottom: 0; content: ''; background: rgba(0, 0, 0, 0.7);}
							&.show {opacity: 1;}
						}
						.space-kids-visual:before {content: none;}
						.space-kids-intro {
							background: url('#{ $image-path }main/space-kids-background-1.webp') no-repeat 50% 50% / cover;
							&:before {background: rgba(0, 0, 0, 0.7);}
						}
						.space-kids-benefit {
							background: url('#{ $image-path }main/space-kids-background-1.webp') no-repeat 50% 50% / cover;
							&:before {background: rgba(0, 0, 0, 0.33);}
						}
						.space-kids-who {
							background: url('#{ $image-path }main/space-kids-background-2.webp') no-repeat 50% 50% / cover;
							&:before {background: rgba(0, 0, 0, 0.2);}
						}
						.space-kids-process {
							background: url('#{ $image-path }main/space-kids-background-2.webp') no-repeat 50% 50% / cover;
							&:before {background: rgba(0, 0, 0, 0.6);}
						}
					}

					.space-kids-slide {
						position: absolute; left: 0; right: 0; top: 0; bottom: 0; -background: rgba(255, 0, 0, 10.5);
						.swiper-slide {height: 100% !important;}
						.banner-content {
							position: absolute; left: 0; right: 0; top: 47.5%; word-break: keep-all; text-align: center; transform: translateY(-50%);
						}
						.banner-title {font-size: 60px; font-weight: 100; line-height: 62px;}
						.space-kids-intro {
							p {max-width: 750px; font-size: 20px; font-weight: 300; line-height: 32px; margin: 50px auto 0;}
						}
						.space-kids-benefit {
							.banner-content {
								> p {
									font-size: 20px; font-weight: 300; line-height: 21px; margin: 0 auto;
									&:before {height: 4vh; max-height: 40px; content: ''; display: block;}
									&:after {height: 10vh; max-height: 90px; content: ''; display: block;}
								}
								ul {
									width: calc(100% - 200px * 2); max-width: 1116px; height: 25vh; max-height: 240px; margin: 0 auto; display: flex;
									li {
										position: relative; flex: 1; -webkit-backdrop-filter: blur(3px); backdrop-filter: blur(3px);
										background-image:
											linear-gradient(90deg, rgba(255, 255, 255, 1) 6px, rgba(255, 255, 255, 0.34) 6px, rgba(255, 255, 255, 0.34) calc(100% - 6px), rgba(255, 255, 255, 1) calc(100% - 6px)),
											linear-gradient(90deg, rgba(255, 255, 255, 1) 6px, rgba(255, 255, 255, 0.34) 6px, rgba(255, 255, 255, 0.34) calc(100% - 6px), rgba(255, 255, 255, 1) calc(100% - 6px)),
											linear-gradient(180deg, rgba(255, 255, 255, 1) 6px, rgba(255, 255, 255, 0.34) 6px, rgba(255, 255, 255, 0.34) calc(100% - 6px), rgba(255, 255, 255, 1) calc(100% - 6px)),
											linear-gradient(180deg, rgba(255, 255, 255, 1) 6px, rgba(255, 255, 255, 0.34) 6px, rgba(255, 255, 255, 0.34) calc(100% - 6px), rgba(255, 255, 255, 1) calc(100% - 6px));
										background-repeat: no-repeat, no-repeat;
										background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%;
										background-position: 0 0, 0 100%, 0 0, 100% 0;
										background-color: rgba(255, 255, 255, 0.1);
										&:not(:last-child) {margin-right: 24px;}
										&:before {position: absolute; left: 20px; top: 23px; width: 4px; height: 4px; content: ''; background: #fff;}
										&:after {position: absolute; left: 28px; top: 17px; font-size: 12px; font-weight: 400; content: 'Benefit'; line-height: 16px;}
										span {position: absolute; right: 20px; top: 17px; font-size: 12px; font-weight: 400; line-height: 16px;}
										h6 {position: absolute; left: 0; right: 0; top: 50%; font-size: 20px; line-height: 32px; transform: translateY(calc(-50% + 5px));}
									}
								}
							}
						}
						.space-kids-who {
							.banner-content {
								> p {
									font-size: 17px; font-weight: 300; line-height: 28px; margin: 0 auto; opacity: 0.56;
									&:before {height: 2vh; max-height: 40px; content: ''; display: block;}
									&:after {height: 8vh; max-height: 90px; content: ''; display: block;}
								}
								ul {
									width: calc(100% - 200px * 2); max-width: 1317px; height: 35vh; min-height: 250px; max-height: 354px; margin: 0 auto; display: flex;
									li {
										position: relative; flex: 1; border: 1px solid rgba(255, 255, 255, 0.3);
										&:not(:last-child) {border-right-width: 0;}
										&:before {position: absolute; left: 9px; right: 9px; top: 9px; bottom: 9px; content: ''; border: 1px solid rgba(255, 255, 255, 0.16);}
										&:after {position: absolute; left: 49px; top: 49px; width: 40px; height: 40px; content: ''; background: url('#{ $image-path }main/icon-think.svg') no-repeat 0 0 / 100%;}
										&:nth-child(2):after {background-image: url('#{ $image-path }main/icon-dream.svg');}
										&:nth-child(3):after {background-image: url('#{ $image-path }main/icon-question.svg');}
										.texts {position: absolute; left: 49px; right: 10px; top: auto; bottom: 45px; min-height: 0; text-align: left; transform: none;}
										h6 {font-size: 24px; line-height: 26px; transform: translateY(calc(-50% + 5px));}
										p {font-size: 17px; font-weight: 300; line-height: 28px; margin-top: 10px; opacity: 0.56;}
									}
								}
							}
						}
						.space-kids-process {
							.banner-content {
								left: 50%; width: calc(100% - 200px * 2); max-width: 1250px; display: flex; transform: translate(-50%, -50%);
								h5 {flex: 1; text-align: left;}
								ol {
									position: relative; width: 618px; height: 576px; margin: -43px 0 -43px; background: url('#{ $image-path }main/space-kids-process-line.png') no-repeat 0 0 / 100%;
									li {
										position: absolute; left: 0; top: 0; font-size: 15px; font-weight: 300; line-height: 18px; transform: translateX(-50%);
										&:before {width: 10px; height: 10px; content: ''; margin: 0 auto 16px; border: 2px solid #ca9fe4; border-radius: 100%; box-sizing: border-box; display: block;}
										&:nth-child(1) {left: calc(10px + 39px); top: calc(14px + 30px);}
										&:nth-child(2) {left: calc(351px + 39px); top: calc(14px + 30px);}
										&:nth-child(3) {left: calc(117px + 39px); top: calc(252px + 30px);}
										&:nth-child(4) {left: calc(402px + 39px); top: calc(252px + 30px);}
										&:nth-child(5) {left: calc(220px + 39px); top: calc(492px + 30px);}
										&:nth-child(6) {left: calc(530px + 39px); top: calc(492px + 30px);}
									}
								}
							}
							.caution {
								position: absolute; left: 80px; bottom: 156px;
								h6 {font-size: 12px; font-weight: 600; line-height: 13px;}
								p {font-size: 12px; font-weight: 400; word-break: keep-all; line-height: 20px; margin-top: 10px; opacity: 0.58;}
							}
						}
					}
				}

				@include tablet {
					.space-kids-visual {
						.texts {
							.logo {visibility: visible;}
						}
					}
				}
				@include mobile {
					.texts.small {
						strong {width: 80px; height: 18px;}
					}

					.texts.expanded {
						.space-kids-visual {
							.texts {left: 24px; right: 24px; top: 0; bottom: 156px; transform: translateY(0);}
							.links {display: none;}
							.primary-button {right: auto;}
						}

						.page-indicator {
							bottom: 110px;
						}

						.space-kids-slide {
							.banner-content {
								top: 44.5%;
							}
							.banner-title {font-size: 24px; line-height: 28px;}
							.space-kids-intro {
								p {width: calc(100% - 64px * 2); max-width: 400px; font-size: 12px; font-weight: 200; line-height: 20px; margin-top: 30px;}
							}
							.space-kids-benefit {
								.banner-content {
									> p {
										width: calc(100% - 64px * 2); max-width: 400px; font-size: 12px; font-weight: 200; line-height: 20px;
										&:before {height: calc(var(--ah) * 0.015); max-height: 10px;}
										&:after {height: calc(var(--ah) * 0.04); max-height: 30px;}
									}
									ul {
										width: calc(100% - 39px * 2); max-width: 500px; height: calc(var(--ah) * 0.4); max-height: 320px; flex-direction: column;
										li {
											&:not(:last-child) {margin-right: 0; margin-bottom: 8px;}
											&:before {top: 50%; margin-top: -2px;}
											&:after {top: 50%; margin-top: -8px;}
											span {left: 71px; right: auto; top: 50%; margin-top: -8px;}
											h6 {
												left: 98px; top: 50%; font-size: 15px; font-weight: 200; text-align: left; line-height: 18px; margin-top: -9px; transform: none;
												br {display: none;}
											}
										}
									}
								}
							}
							.space-kids-who {
								.banner-content {
									> p {
										width: calc(100% - 51px * 2); max-width: 400px; font-size: 12px; font-weight: 200; line-height: 20px; opacity: 1;
										&:before {height: calc(var(--ah) * 0.015); max-height: 10px;}
										&:after {height: calc(var(--ah) * 0.04); max-height: 30px;}
										br {display: none;}
									}
									ul {
										width: calc(100% - 39px * 2); max-width: 500px; height: calc(var(--ah) * 0.4); min-height: 0; max-height: 320px; flex-direction: column;
										li {
											position: relative; flex: 1; border: 1px solid rgba(255, 255, 255, 0.3);
											&:not(:last-child) {border-right-width: 1px; border-bottom-width: 0;}
											&:before {left: 2px; right: 2px; top: 2px; bottom: 2px;}
											&:after {left: 31px; top: 50%; width: 28px; height: 28px; margin-top: -14px;}
											.texts {left: 106px; right: 10px; top: 50%; bottom: auto; transform: translateY(-50%);}
											h6 {font-size: 15px; font-weight: 200; line-height: 16px; transform: none;}
											p {font-size: 11px; font-weight: 200; line-height: 14px; margin-top: 10px;}
										}
									}
								}
							}
							.space-kids-process {
								.banner-content {
									left: 50%; top: 41.5%; width: calc(100% - 45px * 2); max-width: 1250px; display: block;
									h5 {
										text-align: center;
										&:after {height: calc(var(--ah) * 0.04); max-height: 45px; content: ''; display: block;}
									}
									ol {
										width: 266px; height: 265px; margin: 0 auto; background: url('#{ $image-path }main/space-kids-process-line-m.png') no-repeat -46px -46px / 357px auto;
										li {
											font-size: 12px; line-height: 12px;
											&:before {width: 5px; height: 5px; margin: 0 auto 8px; border-width: 1px;}
											&:nth-child(1) {
												left: 23px; top: 0px;
												&:before {margin-left: 0;}
											}
											&:nth-child(2) {left: 175px; top: 0px;}
											&:nth-child(3) {left: 60px; top: 120px;}
											&:nth-child(4) {left: 195px; top: 120px;}
											&:nth-child(5) {left: 95px; top: 240px;}
											&:nth-child(6) {
												left: 242px; top: 240px;
												&:before {margin-left: auto; margin-right: 0;}
											}
										}
									}
								}
								.caution {
									position: absolute; left: 36px; right: 36px; bottom: 120px;
									h6 {font-size: 11px; font-weight: 400; color: #adadad; line-height: 12px;}
									p {
										font-size: 9px; color: #666; line-height: 14px; margin-top: 10px; opacity: 1;
										br {display: none;}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	.banner-link{
		// position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden; pointer-events: none; z-index: 2;
		@extend .banner-wrap;
		
		a{
			// 배너 - 카운트다운, 우주의조약돌, 유튜브링크 공통
			position: absolute; right: 56px; bottom: 128px; width: 400px; height: 225px; transition: all 0.8s $ease-inout-quart; pointer-events: auto;
			// 배너 - 유튜브링크만 추가 start
			width: 400px; height: 225px;
			// 배너 - 유튜브링크만 추가 end

			&:after {position: absolute; left: -4px; right: -4px; top: -4px; bottom: -4px; content: ''; border: 1px solid rgba(#f37331, 0.4);; transition: all 0.8s $ease-inout-quart; pointer-events: none;}
			img{ width: 100%; height: auto;}
			span {
				position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 24px; width: 100%; height: auto; padding: 0 40px; line-height: 1.3;
			}

			@include mobile {
				right: 30px; bottom: 60px; width: 185px; height: 105px;
				&:after {left: -2px; right: -2px; top: -2px; bottom: -2px;}
				span {font-size: 12px; padding: 0 10px;}
			}
		}
	}
	.hanwha-link {
		position: absolute; left: 30px; bottom: 22px; z-index: 1;
		a {padding: 10px; display: block;}
		img {height: 38px;}
	}

	@include mobile {
		.hanwha-link {
			left: 6px; bottom: -2px;
			img {height: 20px;}
		}
	}
}




















