main.media-room{
  min-height: 100vh;
  height: auto;

  @include mobile{
    padding-top: 32px;
  }

  + div + #footer{
    background-color: #000;
  }
  
  section{
    margin: 0 auto;
    padding: 282px 40px 0;
    overflow: hidden;
    margin-top: -100vh;

    @include tablet{
      padding: 282px 40px 0;
    }
    @include mobile{
      padding: 204px 16px 0;
    }
    
    &:after{
      content: '';
      width: 100%; height: 100vh;
      display: block;
      background: url('../../resources/images/media-room/media-room-bg.png') no-repeat center / 100% 100%;
      position: fixed; top: 0; left: 0;
      z-index: -1;

      @include mobile{
        background-size: 768px 100%;
      }
    }
  }
  
  .list-wrap{
    max-width: 1532px;
    margin: 0 auto; padding: 0 30px 200px;
    display: flex; flex-wrap: wrap; justify-content: space-between;
    transition: top .8s $ease-out-quart, opacity .6s ease-out;
    height: 0%;
    overflow: hidden;
    position: absolute; top: -30vh;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    @include tablet{
      padding: 0 30px 120px;
    }

    @include mobile{
      top: 15vh;
      padding: 0 0 100px;
      flex-direction: column;
      overflow: hidden;
    }

    &[data-filter="Space Hub TV"] .category span{
      font-family: $font-h;
    }

    @at-root .pace-done &.active{
      position: relative; 
      height: 100%;
      top: 0;
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }

  .list-item{
    transition: transform .5s ease-out;
    align-self: flex-start;
    transform: translate3d('0, 30%, 0');

    @include mobile{
      padding-bottom: 48px;
    }

    &.first-item {
      // background-color: #4CAF50;
      width: 700px; margin-top: 76px;

      
      @media (max-width:1600px) {
        width: vw(700, 1600);
        margin-top: vw(76,1600);
        // margin-top: calc(-10% + vw(-76,1600) )
      }

      @include mobile{
        margin: 0;
        width: 100%;
      }
    }
    
    &:first-child{margin-top: 0;}
    
    &.second-item {
      // background-color: #CDDC39;
      width: 400px;
      margin-top: 280px;
      margin-right: 154px;

      @media (max-width:1600px) {
        width: vw(400, 1600);
        margin-top: vw(318, 1600);
        margin-right: vw(154, 1600);
      }
      @media (max-width:1440px) {
        width: calc(vw(400, 1600) * 1.2);
        margin-right: calc(vw(154, 1600) / 2);
      }

      @include tablet{
        font-size: 16px;
        margin-top: vw(120, 768);
      }
      @include mobile{
        margin: 0;
        width: 100%;
      }
    }
    
    &.third-item{
      // background-color: #9C27B0;

      width: 634px;
      margin-top: 75px;
      margin-left: 232px;

      @media (max-width:1600px) {
        width: vw(634, 1600);
        margin-top: vw(75, 1600);
        margin-left: vw(232, 1600);
      }
      @media (max-width:1440px) {
        margin-left: calc(vw(232, 1600) / 3);
      }
      @include mobile{
        margin: 0;
        width: 100%;
      }
    }
    
    &.fourth-item{
      // background-color: #FF5722;

      width: 400px;
      margin-top: 382px;
      margin-right: 0;
      
      @media (max-width:1600px) {
        width: vw(400, 1600);
        margin-top: vw(382, 1600);
      }
      
      @media (max-width:1440px) {
        width: calc(vw(400, 1600) * 1.2);
      }

      @include tablet{
        font-size: 16px;
        margin-top: vw(150, 768);
      }
      @include mobile{
        margin: 0;
        width: 100%;
      }
    }

    > a{
      perspective:2000px;
      transform-style: preserve-3d;
      width: 100%;
      height: 100%;
      display: block;
    }
    
    .title{
      font-family: 'YDIYGO'; font-weight: 200; font-size: 20px;
      line-height: 1.6;
      margin-top: 28px;
      word-break: keep-all;

      @include tablet{
        font-size: 16px;
        margin-top: 20px;
      }

      @include mobile {
        font-size: 15px;
        margin-top: 20px;
      }
    }

    .category{
      font-family: 'YDIYGO'; font-weight: 500; font-size: 12px;
      line-height: 1.67;
      color: #666;
      margin-top: 32px; 

      @include tablet{
        font-size: 12px;
        margin-top: 20px;
      }

      @include mobile {
        font-size: 12px;
        margin-top: 20px;
      }
    }

    .img-wrap{
      pointer-events: none;

      img{
        pointer-events: auto;
        transform-style: preserve-3d;
        width: 100%;
        height: auto;
        transition: transform 0.7s cubic-bezier(0.190, 0.920, 0.320, 1.000);
      }
    }
  }
}

.media-room-header{
    position: sticky;
    top: 0;
    z-index: 1;
    height:100vh;
    pointer-events: none;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 20vh;
      display: block;
      background: linear-gradient(rgba(0, 0, 0, 0.8) 10%, rgba(0,0,0,0));

      @include mobile{
        height: 204px;
        top: -32px;
      }
  }

    .list-tabs{
      pointer-events: auto;
      padding: 126px 1px 100px 0;
      display: flex; flex-direction: row; justify-content: center;
      opacity: 0;
      transform: translate3d(0, 60px ,0);
      transition: opacity .3s ease-out, transform .7s $ease-out-quart;
  
      @at-root .pace-done &{
        opacity: 1; transform: translate3d(0, 0 ,0);
      }
  
      @include mobile{
        padding: 92px 17px 40px 16px;
      }
      @media (max-width: 470px) {
        flex-wrap: wrap;
        justify-content: flex-start;
      }
  
      button{
        width: 210px; height: 56px;
        padding: 0; margin: 0 -1px 0 0;
        border: solid 1px #333;
        background-color: transparent;
        font-family: 'YDIYGO'; font-size: 12px; font-weight: 500;
        transition: border-color 0.2s ease-out;

        @include mobile{
          width: 109px; height: 40px;
          font-size: 10px;
        }
        @media (max-width: 470px) {
          width: 50%; margin-bottom: -1px;
        }

        span{
          font-family: $font-h;
          pointer-events: none;
        }
  
        &:hover{
          border-color: #fff;
          z-index: 1;
        }

        &.active{
          color:#000; background-color: #fff;
          border-color: #fff;
        }
      }
    }

      
    .bg-frame{
      position: absolute; top:86px; left:40px; z-index: -1;
      width: calc(100% - 80px); height: calc(100% - 86px - 116px); display: block;
      transform: scale(1.2);
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.45) 40px, rgba(255, 255, 255, 0.15) 40px, rgba(255, 255, 255, 0.15) calc(100% - 40px), rgba(255, 255, 255, 0.45) calc(100% - 40px)), linear-gradient(90deg, rgba(255, 255, 255, 0.45) 40px, rgba(255, 255, 255, 0.15) 40px, rgba(255, 255, 255, 0.15) calc(100% - 40px), rgba(255, 255, 255, 0.45) calc(100% - 40px)), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 40px, rgba(255, 255, 255, 0.15) 40px, rgba(255, 255, 255, 0.15) calc(100% - 40px), rgba(255, 255, 255, 0.45) calc(100% - 40px)), linear-gradient(180deg, rgba(255, 255, 255, 0.45) 40px, rgba(255, 255, 255, 0.15) 40px, rgba(255, 255, 255, 0.15) calc(100% - 40px), rgba(255, 255, 255, 0.45) calc(100% - 40px));
      background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
      background-size: 100% 1px, 100% 1px, 1px 100%, 1px 100%, 120px, 54px auto;
      background-position: 0 0, 0 100%, 0 0, 100% 0, 12px calc(100% - 12px), 12px calc(100% - 140px);
      pointer-events: none;
      transition: opacity .3s .5s ease-out, transform .7s .5s $ease-out-quart;
      opacity: 0;
      z-index: 2;
      pointer-events: none;

      @at-root .pace-done &{
        opacity: 1; transform: scale(1);
      }

      @media (max-width:1440px) {
        height: calc(100% - 116px);
      }

      @include mobile{
        opacity: 0;

        @at-root .pace-done &{
          opacity: 0;
        }
      }
    }
  }

  .space-bg{
  display: block;
  width: 100%;
  height: 1742px; 
  background: url('#{ $image-path }media-room/media-room-bg-space.png') no-repeat 50% 50% / cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  transition: background-position .5s ease-out;

  @include mobile{
    opacity: 0;
  }
}