
main.space-kids-introduce {	
  --side-margin: 80px;
  *, *::after, *::before{ box-sizing: border-box; word-break: keep-all; }

  @include laptop{ --side-margin: 40px; }
  @include mobile{ --side-margin: 16px; }

  // * common
  section{
    position: relative; width: 100%;
  }
  .sticky{
    overflow: hidden; position: sticky; top: 0; width: 100%; height: 100vh;
  }
  section:not(.visual) {
    .eyebrow{ display: block; margin-bottom: 20px; font-size: 15px; font-weight: 500; color: #fff; line-height: 1; 
      &.gray{ color: #666; }
    }
    .title{ display: block; font-size: 40px; font-weight: 200; color: #fff; line-height: 1.6; }  
    @include laptop-only{
      .title{ font-size: 34px; }
    }
    @include tablet-only{
      .title{ font-size: 30px; }
    }
    @include mobile{
      .eyebrow{ font-size: 12px; }
      .title{ font-size: 20px; }
    }
  }
  button{ display: block; background-color: transparent; border: none; text-align: left; margin: 0; padding: 0; }

  // introduce
  .introduce{
    height: 300vh;
    .bg{
      overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.6;
      video{ width: 100%; height: 100%; object-fit: cover; }
    }
    .texts{
      display: flex; justify-content: center; align-items: center; position: relative; width: 100%; height: 100%;

      h2, h3, p{ position: absolute; top: 50%; transform: translate3d(0, -50%, 0); }
      h2{ width: 648px;
        img{ width: 100%; }
      }
      h3{ font-size: 72px; font-weight: 400; color: #fff; line-height: 1.1; }
      p{ font-size: 40px; font-weight: 300; color: #fff; line-height: 1.6;
        span:not(:first-child){ opacity: 0.2; }
      }
    }

    @include laptop-only{
      .texts{
        h2{ width: 540px; }
        h3{ font-size: 60px; }
        p{ font-size: 34px; }
      }
    }
    @include tablet-only{
      .texts{
        h2{ width: 360px; }
        h3{ font-size: 40px; }
        p{ 
          width: 540px; font-size: 30px;
          br{ display: none; }
        }
      }
    }
    @include mobile{
      .texts{
        h2{ width: 232px; }
        h3{ font-size: 20px; }
        p{ 
          width: 280px; font-size: 17px;
          br{ display: none; }
        }
      }
    }
  }

  // program
  .program{
    overflow: hidden; padding: 300px 0 0; background: url('#{ $image-path }space-kids/introduce/program-bg.webp') no-repeat 50% 30% / 100%;
    &::before{ content: ''; position: absolute; top: -100px; left: 0; width: 100%; height: 200px; background: linear-gradient(to bottom, transparent, #000, transparent); }
    &::after{ content: ''; position: absolute; bottom: -100px; left: 0; width: 100%; height: 200px; background: linear-gradient(to bottom, transparent, #000, transparent); }

    .bg{ 
      position: absolute; top: 0; left: 0; width: 100%; height: 100%;
      .moon{ 
        position: absolute; top: 35%; left: -35vw; width: 100vw; height: 54vw; transition: transform .3s ease-out;
        video{ width: 100%; height: 100%; }
        &::after{ content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 200px; background: linear-gradient(to top, #000, transparent);
          @include mobile{ height: 50px; }
        }
        
      }
    }

    .inwrap{ display: flex; justify-content: space-between; position: relative; z-index: 2; width: 100%; max-width: 2560px; margin: 0 auto; padding: 0 var(--side-margin); }
    .heading{ width: 461px; max-width: 100%; }
    .list{ 
      width: 50%; 
      ul{ max-width: 840px; }
      // li button::after{ top: 60px; }
      .content p{ max-width: 660px; }
      .btn-hud{ margin-top: 80px; }
    }

    @include tablet{
      .inwrap{ flex-direction: column; }
      .bg .moon{ top: 70%; }
      .heading{ width: 360px; margin-bottom: 80px;
        br{ display: none; }
      }
      .list{ width: 100%; max-width: 600px;
        .btn-hud{ margin-top: 40px; }
      }
    }
    @include mobile{
      .heading{ width: 232px;  }
    }

    &:not(.active){
      .list li{ opacity: 0; transform: translate3d(-100px, 0, 0); }
      .btn-hud{ opacity: 0; }
    }
    &.active{
      .list li{ 
        transition: opacity .5s ease-out, transform .5s ease-out;
        @for $i from 1 to 5 {
          &:nth-child(#{$i}) { transition-delay: 0.1s * $i; }
        }
      }
      .btn-hud{ transition: opacity .5s ease-out .5s; }
    }
  }

  // explore
    .explore {
      padding-top: 440px;
      overflow: hidden;
        .inwrap {
            position: relative;
            height: 175vh;
            .texts{
                position: relative;
                text-align: center;
                margin-bottom: 34px;
                z-index: 1;
                @include tablet{
                    margin-bottom: 25.5px;
                }
                @include mobile{
                    margin-bottom: 17px;
                }
            }
            .solar-system {
                // overflow: hidden;
                position: sticky;
                top: 0;
                width: 100%;
                height: 100vh;
                > nav {
                    padding-top: 42px;
                    @include tablet{
                        padding-top: 31.5px;
                    }
                    @include mobile{
                        padding-top: 21px;
                    }
                    .btn-hud {
                        margin: 0 auto;
                        z-index: 1;
                    }
                }
                > article {
                    position: absolute;
                    width: 100%;
                    min-width: 907px;
                    margin: 0 auto;
                    @media (max-width: 907px) {
                        left: calc((100% - 907px)/2);
                    }
                    > .video-wrapper {
                        position: relative;
                        width: 70%;
                        aspect-ratio: 1344/690;
                        margin: 0 auto;
                        > video {
                            position: absolute;
                            bottom: 0;
                            display: block;
                            width: 100%;
                            scale: 2;
                            transform: translate3d(0px, 300px, 0px) scale(2, 2);
                        }
                    }
                    > .planet-wrapper {
                        position: absolute;
                        top: 0; 
                        left: 0;
                        width: 100%;
                        aspect-ratio: 1920/948;
                        > .orbit {
                            position: absolute;
                            width: 100%;
                            left: 0;
                            opacity: 0;
                        }

                        > .planet {
                            position: absolute;
                            opacity: 0;
                            &.mercury {
                                width: calc((26/1920)*100%);
                                top: calc((300/948)*100%);
                                left: calc((1106/1920)*100%);
                            }
                            &.venus {
                                width: calc((32/1920)*100%);
                                top: calc((252/948)*100%);
                                left: calc((1245/1920)*100%);
                            }
                            &.earth {
                                width: calc((36/1920)*100%);
                                top: calc((317/948)*100%);
                                left: calc((1277/1920)*100%);
                            }
                            &.mars {
                                width: calc((32/1920)*100%);
                                top: calc((550/948)*100%);
                                left: calc((860/1920)*100%);
                            }
                            &.jupiter {
                                width: calc((24/1920)*100%);
                                top: calc((360/948)*100%);
                                left: calc((369/1920)*100%);
                            }
                            &.saturn {
                                width: calc((124/1920)*100%);
                                top: calc((459/948)*100%);
                                left: calc((1369/1920)*100%);
                            }
                            &.neptune {
                                width: calc((28/1920)*100%);
                                top: calc((40/948)*100%);
                                left: calc((1754/1920)*100%);
                            }
                            &.pluto {
                                width: calc((21/1920)*100%);
                                top: calc((19/948)*100%);
                                left: calc((1809/1920)*100%);
                            }
                            &.uranus {
                                width: calc((48/1920)*100%);
                                top: calc((808/948)*100%);
                                left: calc((183/1920)*100%);
                            }
                        }
                    }
                }
            }
        }
    }


  // apply
  .apply{
    overflow: hidden; height: max(1500px, 106vw); padding-top: 300px;
    .inwrap{ width: 100%; max-width: 2560px; margin: 0 auto; padding: 0 var(--side-margin); text-align: center; }
    .research-results{ margin-top: 195px; overflow: visible; opacity: 0; transition: .5s ease;
      .swiper-wrapper{
        .swiper-slide{ width: 480px; opacity: 0;
          &.swiper-slide-active{  opacity: 1;
            button{ transform: scale(1.5); touch-action: auto; pointer-events: auto;
              .img-box{
                &::before{   opacity: 0.3;}
                video{ opacity: .3;}
              }
              .txt-box{
                .team{ opacity: 1; 
                  span{ max-width: 70px;}
                }
                .tit{
                  p{
                    span{ transform: translateY(0);}
                    &:nth-child(2) span{ transition-delay: .2s;}
                    &:nth-child(3) span{ transition-delay: .4s;}
                    &:nth-child(4) span{ transition-delay: .6s;}
                  }
                }
              }
              .more{ bottom: 26.67px; opacity: 1;}
            }
          }
          &.swiper-slide-prev, &.swiper-slide-next{ opacity: 0.8;}
          &.swiper-slide-prev button .img-box img{ transform: translateX(-30px);}
          &.swiper-slide-next button .img-box img{ transform: translateX(30px);}
          button{ position: relative; width: 100%; height: 100%; transition: 1s ease;border: 1px solid rgba(#fff, 0.2); touch-action: none; pointer-events: none;
            .img-box{ overflow: hidden; position: relative;
              &::before{ content: ''; width: 100%; height: 100%; position: absolute; left: 0; top:0; background-image: linear-gradient(to bottom, #243b67, #476480); transition: 1s ease; opacity: 0; z-index: 1;}
              img{ width: 100%; transition: 1s ease; display: block;}
              video{ width: 100%; height: 100%; object-fit: cover; opacity: 0; position: absolute; left: 0; top:0; mix-blend-mode: screen; transition: .5s ease;}
            }
            .txt-box{ position: absolute; left: 0; top: 50%; transform: translateY(-50%); text-align: center; width: 100%; z-index: 1;
              .team{ display: flex; align-items: center; justify-content: center; font-size: 10.67px; opacity: 0; transition: .5s ease;
                &::before{ content: '[ '; }
                &::after{ content: ' ]'; }
                span{ display: inline-block; max-width: 0; overflow: hidden; white-space: nowrap; margin: 0 6px; transition: 1s ease .3s;}
              }
              .tit{ font-size: 16px; line-height: 1.6; font-weight: 400; margin-top: 17px;
                p{ overflow: hidden;
                  span{ display: block; transform: translateY(120%);  transition: 1s ease;
                  }
                }
              }
            }
            &:hover{
              .more::after{ transform: scaleX(1);}
            }
          }
          .more{ position: absolute; left: 50%; transform: translateX(-50%); bottom: 10px; width: 100%; text-align: center; font-size: 12px; opacity: 0; transition: 1s ease; width: max-content; z-index: 1;
            &::after{ content: ''; display: block; width: 100%; height: 2px; background-color: #fff; margin-top: 2px; transform: scaleX(0); transition: .5s ease;}
          }
        }
      }
      .frame{ width: 733px; height: 425px; position: absolute; left: 50%; top: 51.5%; transform: translate(-50%, -51%); z-index: 2; touch-action: none; pointer-events: none;
        svg{ position: absolute; transition: .5s ease;
          &.frame-lt{ left: 0; top: 0;}
          &.frame-rt{ right: 0; top: 0;}
          &.frame-lb{ left: 0; bottom: 0;}
          &.frame-rb{ right: 0; bottom: 0;}
          path{ stroke-dashoffset: 210; stroke-dasharray: 210; transition: 1s ease; opacity: 0;}
          g{ opacity: 0; transition: 1s ease .3s;}
        }
        &.active{
          svg{
            &.frame-lt{ left: -10px; top: -10px;}
            &.frame-rt{ right: -10px; top: -10px;}
            &.frame-lb{ left: -10px; bottom: -10px;}
            &.frame-rb{ right: -10px; bottom: -10px;}
          }
        }
      }
      &.active{ opacity: 1;
        .swiper-slide{
          &.swiper-slide-prev button .img-box img,
          &.swiper-slide-next button .img-box img{ transform: translateX(0px); transition-duration:1s;}
        }
        .frame{
          svg{
            path{ stroke-dashoffset: 0; transition-delay: .3s;}
            g{ opacity: 1;}
          }
        }
        .nav{ width: 712px; height: 0; position: absolute; left: 50%; top: 50%; transform: translateX(-50%); z-index: 10;
          span{ width: 48px; height: 48px; border-radius: 50%; position: absolute; left: -24px; top: -24px; cursor: pointer; 
            &::before{ content: ''; width: 100%; height: 100%; border-radius: 50%; border: 1px solid #fff; position: absolute; left: 0; top: 0; transition: .3s ease;}
            &::after{ content: ''; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%) rotate(-137deg); width: 6px; height: 6px; border: 1px solid #fff; border-width: 1px 1px 0 0; transition: .5s ease;}
            &.nxt{ left: auto; right: -24px;
              &::after{ transform: translate(-50%, -50%) rotate(45deg);}
            }
            &:hover{
              &::before{background: rgba(#fff, 0.2);}
              &.prv{
                &::before{ left: -7px;}
                &::after{ left: calc(50% - 5px);}
              }
              &.nxt{
                &::before{ left: 7px;}
                &::after{ left: calc(50% + 5px);}
              }
            }
          }
        }
      }
    }
    .slide-pagi{ width: 100%; text-align: center; margin-top: 115px;
      span{ width: 8px; height: 8px; border-radius: 50%; background-color: #fff; margin: 0 8px; position: relative; transition: 1s ease; opacity: .4;
        &::before{ content: ''; width: 18px; height: 18px; border: 1px solid #fff; opacity: .4; position: absolute; left: 50%; top: 50%; border-radius: 50%; transform: translate(-50%, -50%) scale(0); transition: .5s ease;}
        &.swiper-pagination-bullet-active{ opacity: 1;
          &::before{
            transform: translate(-50%, -50%) scale(1);
          }
        }
      }
    }
    .btn-hud{ margin: 90px auto 0; }
    .bg{
      position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; 
      .earth{ 
        position: absolute; bottom: 25%; left: 50%; transform: translate3d(-50%, 0, 0); width: 100%; padding-top: 56.25%; transition: transform .3s ease-out;
        video{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
        &::after{ content: ''; position: absolute; bottom: -10px; left: 0; width: 100%; height: 400px; background: linear-gradient(to bottom, transparent, #000); }
      }
      .kids{ 
        position: absolute; bottom: -30vw; left: 50%; transform: translate3d(-50%, 0, 0); width: 100%; padding-top: 60%;
        background: url('#{ $image-path }space-kids/introduce/invite-bg-kids.webp') no-repeat top / 100%; transition: transform .2s ease-out;
      }
    }

    .popup-wrap{ position: fixed; left: 0; top: 0; width: 100%; height: 100vh; overflow:hidden; background-color: rgba(#000, 0.6); touch-action: none; pointer-events: none; opacity: 0; transition: 1s ease; z-index: 999;
      &.on{ opacity: 1; touch-action: auto; pointer-events: auto;
        .popup{
          .close-popup{ transform: translateX(0%) rotate(0deg);}
        }
      }
      .popup{ width: 100%; height: 100%; display: flex
        ; flex-direction: column; align-items: flex-end; padding-top: 30px;
        padding-bottom: 106px;
        
        .close-popup{ transition: .5s ease; transform: translateX(-50%) rotate(180deg); cursor: pointer; width: 80px; flex-shrink: 0;
          svg{width: 100%;}
        }
        .pdf-wrap{ width: 100%; height: 100%; margin-top: 16px;
          iframe{ width: 100%; height: 100%;}
        }
        .btn-hud{ margin: 20px 0 0 auto;
          span::after{ background-image: url('#{ $image-path }icon_download2.svg');}
        }
      }
    }

    @include laptop-only{
      .bg .earth{ bottom: 20%; }
    }
    @include tablet{
      height: 800px; padding-top: 120px;
      .btn-hud{ margin-top: 40px; }
      .bg{
        margin-top: 60px;
        .earth{ bottom: 150px; width: 1000px; height: 562.5px; }
        .earth::after{ height: 200px; }
        .kids{ bottom: -250px; width: 1000px; height: 600px; }
      }
    }
    @include mobile{
      height: 1300px;
      .research-results{ margin-top: 60px;
        .swiper-wrapper{
          .swiper-slide{
            &.swiper-slide-active{ 
              button{ transform: scale(1);
                .txt-box .team span{ max-width: unset;}
              }
            }
            button{
              .img-box{ height: 58.5vw;
                img{ height: 100%; object-fit: cover;}
              }
              .txt-box{ position: relative; top: 0; transform:none; text-align: left; background-color: #000; border-top: 1px solid rgba(#fff, 0.2); min-height:160px; padding: 20px 20px 31px;
                .team{ opacity: 1; justify-content: flex-start; font-size:12px; 
                  span{ max-width: unset; letter-spacing: 1px; transition: none;}
                }
                .tit{ font-size: 15px;
                  p{ overflow: visible; display: inline;
                    span{ display: inline; transition: none;}
                  }
                }
              }
              .more {width: auto !important; left: auto; right: 20px; bottom: 16px !important; transform: none; font-weight: 400;}
              .more::after{ display: none !important;}
            }
          }
        }
        .frame{ display: none;}
        &.active{ opacity: 1;
          .nav{ display: none;}
        }
      }
      .slide-pagi{ margin-top: 37px;}
      .btn-hud{ margin-top: 60px; }
      .popup-wrap{ display: none;}
    }

  }


  // mediaroom
  .mediaroom{
    padding: 120px 0;
    .inwrap{ display: flex; justify-content: space-between; position: relative; width: 100%; max-width: 2560px; margin: 0 auto; padding: 0 var(--side-margin); text-align: center; }
    .texts{ display: flex; flex-direction: column; justify-content: space-between; width: 433px; text-align: left; }
    .slider{
      --swiper-progress: 0;
      position: relative; width: 1024px; max-width: 55%;
      
      .swiper{
        &-slide{ 
          overflow: hidden; position: relative; width: 100%; padding-top: 56.25%;

          .inner-video {
            overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%;
            iframe, .control-play, .mov { width: 100%; height: 100%; vertical-align: top; }
            &.playing {
              .control-play { display: none; }
            }
            .control-play {
              position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 2; border: 0; padding: 0; overflow: hidden; background-color: #000;
              transition: transform .2s ease-out;
              > img { display: block; width: 100%; height: 100%; }
              .play {
                position: absolute; left: 50%; top: 50%; z-index: 2; width: 9.8%; aspect-ratio: 1/1; transform: translate(-50%, -50%); display: flex; align-items: center; justify-content: center;
                transition: transform .2s ease-out;
                img { width: 100%; height: 100%; }
              }
            }

            &:hover{
              .control-play{ transform: scale(1.01); }
              .play{ transform: translate(-50%, -50%) scale(1.1); }
            }

            @include mobile{
              padding-left: 0; width: 100%;
              .control-play .play { width: 56px; height: 56px; }
            }
          }
        }

        @include desktop{
          &-nav{
            position: absolute; bottom: 0; right: calc(100% + 40px); width: 108px;
          }
          &-button{
            display: flex; justify-content: space-between; 
            &-prev,
            &-next{ 
              position: unset; width: 48px; height: 48px; margin: 0; border: 1px solid #fff; border-radius: 50%;
              &::after{ font-size: 8px; font-weight: bold; color: #fff; }

              transition: transform .3s;
              &:hover{ transform: scale(1.05); }
            }
          }
          &-paging{
            position: relative; margin-top: 20px; padding: 0 6px; font-size: 0;
            .swiper-pagination{ display: flex; justify-content: space-between; align-items: center;  position: unset; }
            .swiper-pagination span{ font-size: 18px; font-weight: 400; color: #fff; }
            .swiper-pagination-total{ opacity: 0.3; }
            .bar{ position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0); width: 32px; height: 1px; background: rgba(#fff, 0.3);
              &::after{ content: ''; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: #fff; transform-origin: left; transform: scaleX(var(--swiper-progress)); transition: transform .1s; }
            }
          }
        }
        @include tablet{
          &-button{ display: none; }
          &-paging .bar{ display: none; }
          &-pagination{
            &-bullet{ 
              position: relative; background: #fff; margin: 0 8px;
              &::after{ content: ''; position: absolute; top: 50%; left: 50%; transform: translate3d(-50%, -50%, 0) scale(0.1); width: 18px; height: 18px; border: 1px solid #fff; border-radius: 50%; opacity: 0.4; transition: transform .5s ease-out; }
              &-active{
                &::after{ transform: translate3d(-50%, -50%, 0) scale(1); }
              }
            }
          }
        }
      }
    }
    .btns{
      position: absolute; bottom: 0; left: var(--side-margin);
      .sns{ 
        display: flex; margin-top: 60px;
        img{ width: 100%; }
        li{ 
          display: flex; justify-content: center; align-items: center; height: 28px;
          &.youtube{ width: 70px; margin-right: 32px; }
          &.insta{ width: 96px; }
        }
        a{
          opacity: 0.6; transition: opacity .3s ease-out;
          &:hover{ opacity: 1; }
        }
      }
    }

    @include tablet{
      .inwrap{ flex-direction: column; }
      .texts{ margin-bottom: 60px; width: 360px; }
      .slider{ width: 600px; max-width: 100%; margin: 0 auto; padding-bottom: 50px; }
      .btns{ display: flex; flex-direction: column; align-items: center; position: relative; left: 0; margin-top: 60px;
        .sns{ margin-top: 20px;
          li{ 
            &.youtube{ width: 50px; margin-right: 20px; }
            &.insta{ width: 64px; }
          }
          a{ opacity: 1; }
        }
      }
      
    }
    @include mobile{
      .texts{ width: 220px; }
    }
  }

  
  // support
	.support {
		position: relative; height: 2500px; background: #000;
		&:after {position: absolute; left: 0; right: 0; top: 0; height: 200px; content: ''; background: linear-gradient(to bottom, #000 , transparent); pointer-events: none;}
		.sticky {overflow: hidden;}
		.visual { width: 100%; height: 100%; background: url('#{ $image-path }space-kids/introduce/support-bg.webp') no-repeat bottom / 100%; }


		.copy { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; }
		.partners {
      display: flex; justify-content: center;
			position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); text-align: center;
      width: 100%; max-width: 1554px;
      & > div + div{ margin-left: 120px; }
      strong{ display: block; font-size: 12px; font-weight: 400; color: #fff; line-height: 1; }
			ul { 
        font-size: 0; white-space: nowrap; margin-top: 48px; display: inline-block;
				li { display: block; vertical-align: middle; max-width: 360px; margin-bottom: 24px;}
        img { max-width: 100%; }
			}

      .host{
        max-width: 486px;
        .font-hh{ font-size: 40px; font-weight: 400; color: #fff; line-height: 1; }
        ul{
          display: flex; flex-wrap: wrap; justify-content: center;
          li{ 
            &.space-hub{ max-width: 446px; }
            &:not(.space-hub){ 
              height: 48px; 
              & + li{ margin-left: 24px; }
              img{ width: auto; height: 100%; }
            }
          }
        }
      }
		}

    @include laptop{
      .partners{
        & > div + div{ margin-left: 40px; }
        .host{
          max-width: 440px;
          ul li{
            &:not(.space-hub) + li{ margin-left: 12px; }
          }
        }
      }
    }
    @include tablet{
      .partners{
        flex-direction: column; align-items: center;
        & > div + div{ margin-left: 0; margin-top: 60px; }
        ul {
          margin-top: 20px; display: inline-block;
          li { max-width: 240px; margin-bottom: 8px; }
        }
        .host{ 
          max-width: 350px;
          .font-hh{ font-size: 30px; }
          ul li{
            &:not(.space-hub){ 
              height: 36px; 
              & + li{ margin-left: 15px; }
            }
          }
        }
      }
    } 
    @include mobile{
      .partners{
        ul li { max-width: 180px; }
        .host{ 
          max-width: 250px;
          .font-hh{ font-size: 19px; }
          ul li{
            &:not(.space-hub){ 
              height: 23px; 
              & + li{ margin-left: 12px; }
            }
          }
        }
      }
    }
	}
}




















