<%- include('./src/include/header.ejs', { title: '우주의 조약돌 지원안내', gnbActive: 5 }) %>

	<main class="space-kids-apply">
  
    <!-- sections -->
    <section id="vision" class="vision" data-section-name="소개">
      <span class="blind">소개</span>
      <div class="sticky">
				<div class="bg">
					<video class="video-content" poster="/resources/images/space-kids/apply/visual-bg.webp" loop muted playsinline>
						<source src="/resources/images/space-kids/apply/visual-bg.mov" type="video/mp4; codecs=hvc1" />
						<source src="/resources/images/space-kids/apply/visual-bg.mp4" type="video/mp4" />
					</video>
				</div>
        <div class="texts">
          <h2>지원 안내</h2>
          <p>
            미래 우주 과학자가 될 여러분을 <br>
            우주의 조약돌로 초대합니다.
          </p>
        </div>
      </div>
    </section>

    <section id="procedure" class="procedure" data-section-name="참가 절차">
      <span class="blind">참가 절차</span>

      <!-- # 웹용 # -->
      <!-- headings 컨텐츠 아래 반복 -->
      <article class="headings">
        <div class="inwrap">
          <div class="heading">
            <div class="sticky">
              <h3 class="titles" aria-hidden="true">
                <strong class="title">우주를 꿈꾸는 누구든,​ <br>우주의 조약돌이 기다립니다.</strong>
                <strong class="title">우주의 조약돌과 함께​ <br>꿈의 탐사를 시작하세요</strong>
              </h3>
              <div class="files sk-after-open" aria-hidden="true">
                <ul>
                  <li><a href="/resources/pdf/TheSpaceKids_Invitation.pdf" target="_blank" class="invite">우주의 조약돌 초대장</a></li>
                  <li><a href="/resources/pdf/TheSpaceKids_Essay_Guide.pdf" target="_blank" >에세이 작성 가이드</a></li>
                  <li><a href="/resources/pdf/TheSpaceKids_Recruitment_Notice.pdf" target="_blank" >모집 안내문</a></li>
                </ul>
              </div>
              <!-- <a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=13114" target="_blank" class="btn-hud">
                <span>지원 사이트로 이동</span>
                <p class="info">(지원 사이트(한화인) - 인턴 공고란에서 확인)</p>
              </a> -->
            </div>
          </div>
        </div>
      </article>

      <article class="people">
        <div class="inwrap">
          <div class="heading">
            <!-- # 모바일용 # -->
            <div class="sticky">
              <h3 class="title">우주를 꿈꾸는 누구든,​ <br>우주의 조약돌이 기다립니다.</h3>
            </div>
          </div>
          <div class="contents">
            <div class="content ideal">
              <h6 class="subject">인재상</h6>
              <div class="detail">
                <ul>
                  <li>
                    <div class="symbol">
                      <img src="/resources/images/space-kids/apply/procedure-icon-think.png" alt="">
                    </div>
                    <strong>생각하는 아이</strong>
                    <p>복합적 문제를 해결할 수 있는 <br>문제해결력과 사고력</p>
                  </li>
                  <li>
                    <div class="symbol">
                      <img src="/resources/images/space-kids/apply/procedure-icon-dream.png" alt="">
                    </div>
                    <strong>꿈꾸는 아이</strong>
                    <p>과학과 우주를 꿈꾸며 <br>진로를 탐구하는 성향</p>
                  </li>
                  <li>
                    <div class="symbol">
                      <img src="/resources/images/space-kids/apply/procedure-icon-question.png" alt="">
                    </div>
                    <strong>질문하는 아이</strong>
                    <p>질문을 통해 상황을 <br>이해하는 분석력</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="content target">
              <h6 class="subject">참가대상</h6>
              <div class="detail">
                <strong>전국 중학교 <br class="mobile">1~2학년 학생 누구나</strong>
                <p>*만 13세 이상 (2011년 1월 1일 이후 출생) <br>~ 만 14세 이하 (2010년 1월 1일 이후 출생)</p>
              </div>
            </div>
            <div class="content criteria">
              <h6 class="subject">선발기준</h6>
              <div class="detail">
                <span class="line line-1"></span>
                <span class="line line-2"></span>
                <span class="line line-3"></span>
                <ul>
                  <li>
                    <div class="inner">
                      <span>우주에 대한 <br>열정</span>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <span>풍부한 창의력과 <br>상상력</span>
                    </div>
                  </li>
                  <li>
                    <div class="inner">
                      <span>인문학적 <br>소양</span>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </article>
      <article class="together">
        <div class="inwrap">
          <div class="heading">
            <!-- # 모바일용 # -->
            <div class="sticky">
              <h3 class="title">우주의 조약돌과 함께​ <br>꿈의 탐사를 시작하세요</h3>
              <div class="files sk-after-open">
                <ul>
                  <li><a href="/resources/pdf/TheSpaceKids_Invitation.pdf" target="_blank" class="invite">우주의 조약돌 초대장</a></li>
                  <li><a href="/resources/pdf/TheSpaceKids_Essay_Guide.pdf" target="_blank" >에세이 작성 가이드</a></li>
                  <li><a href="/resources/pdf/TheSpaceKids_Recruitment_Notice.pdf" target="_blank" >모집 안내문</a></li>
                </ul>
                <!-- <a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=13114" target="_blank" class="btn-hud">
                  <span>지원 사이트로 이동</span>
                  <p class="info">(지원 사이트(한화인) - 인턴 공고란에서 확인)</p>
                </a> -->
              </div>
            </div>
          </div>
          <div class="contents">
            <div class="path">
              <span class="path-inner"></span>
            </div>
            <ul class="step">
              <li>
                <span class="num">01</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 01 ]</span>
                  <span class="schedule">5.13(월) ~ 6.7(금)</span>
                </div>
                <div class="detail">
                  <strong class="tit">참가 지원 하기</strong>
                  <p class="txt">지원 사이트에서 '법정 대리인' 이름으로 <br>회원가입후 지원 신청</p>
                </div>
              </li>
              <li>
                <span class="num">02</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 02 ]</span>
                  <span class="schedule">면접 6.22(토) <br>대전 KAIST 본원</span>
                </div>
                <div class="detail">
                  <strong class="tit">1차 서류 평가, 2차 면접 전형</strong>
                  <p class="txt">1차 서류는 참가접수 > 합격 확인 페이지에서 확인 가능 <br>2차 면접은 면접 대상자에게 별도 안내</p>
                </div>
              </li>
              <li>
                <span class="num">03</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 03 ]</span>
                  <span class="schedule">7.1(월)</span>
                </div>
                <div class="detail">
                  <strong class="tit">최종 합격자 선발</strong>
                  <p class="txt">합격생에게 교육 커리큘럼과 <br>진행 일정 별도 안내</p>
                </div>
              </li>
              <li>
                <span class="num">04</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 04 ]</span>
                  <span class="schedule">7월~12월</span>
                </div>
                <div class="detail">
                  <strong class="tit">교육 진행</strong>
                </div>
              </li>
              <li>
                <span class="num">05</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 05 ]</span>
                  <span class="schedule">2025년 1월</span>
                </div>
                <div class="detail">
                  <strong class="tit">성과발표 및 수료식</strong>
                </div>
              </li>
              <li>
                <span class="num">06</span>
                <div class="key">
                  <span class="eyebrow">[ STEP 06 ]</span>
                  <span class="schedule">2025년 2월 중</span>
                </div>
                <div class="detail">
                  <strong class="tit">미국 해외탐방</strong>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </article>
    </section>

    <section id="faq" class="faq" data-section-name="FAQ">
      <span class="blind">FAQ</span>
      <article>
        <div class="inwrap">
          <div class="heading">
            <div class="sticky">
              <h3 class="title">자주 묻는 질문을 <br>확인해 보세요</h3>
            </div>
          </div>
          <div class="contents">
            <div class="faq-tab">
              <ul>
                <li><button type="button" data-category="">전체</button></li>
                <li><button type="button" data-category="participation">참가지원</button></li>
                <li><button type="button" data-category="screening">선발 • 심사</button></li>
                <li><button type="button" data-category="curriculum">교육과정</button></li>
                <li><button type="button" data-category="etc">기타</button></li>
              </ul>
            </div>
            <div class="faq-list">
              <p class="total">총 <%= faqData.participation.length + faqData.screening.length + faqData.curriculum.length + faqData.etc.length %>개</p>
              <div class="faq-content">
                <ul class="accordion">
                  <li class="" data-category="<%= faqData.etc[0].category %>" data-item-id="<%= faqData.etc[0].id %>">
                    <button type="button">
                      <strong><%- faqData.etc[0].title %></strong>
                    </button>
                    <div class="content">
                      <p><%- faqData.etc[0].desc %></p>
                    </div>
                  </li>
                  <% for (let i = 0; i < faqData.participation.length; i++) { %>
                    <li class="" data-category="<%= faqData.participation[i].category %>" data-item-id="<%= faqData.participation[i].id %>">
                      <button type="button">
                        <strong><%- faqData.participation[i].title %></strong>
                      </button>
                      <div class="content">
                        <p><%- faqData.participation[i].desc %></p>
                      </div>
                    </li>
                  <% } %>
                  <% for (let i = 0; i < faqData.screening.length; i++) { %>
                    <li class="" data-category="<%= faqData.screening[i].category %>" data-item-id="<%= faqData.screening[i].id %>">
                      <button type="button">
                        <strong><%- faqData.screening[i].title %></strong>
                      </button>
                      <div class="content">
                        <p><%- faqData.screening[i].desc %></p>
                      </div>
                    </li>
                  <% } %>
                  <% for (let i = 0; i < faqData.curriculum.length; i++) { %>
                    <li class="" data-category="<%= faqData.curriculum[i].category %>" data-item-id="<%= faqData.curriculum[i].id %>">
                      <button type="button">
                        <strong><%- faqData.curriculum[i].title %></strong>
                      </button>
                      <div class="content">
                        <p><%- faqData.curriculum[i].desc %></p>
                      </div>
                    </li>
                  <% } %>
                  <% for (let i = 0; i < faqData.etc.length; i++) { 
                    if (i !== 0) { %> 
                    <!-- 1번항목은 최상단에 있음 -->
                    <li class="" data-category="<%= faqData.etc[i].category %>" data-item-id="<%= faqData.etc[i].id %>">
                      <button type="button">
                        <strong><%- faqData.etc[i].title %></strong>
                      </button>
                      <div class="content">
                        <p><%- faqData.etc[i].desc %></p>
                      </div>
                    </li>
                    <% } 
                    } %>
                </ul>
              </div>
              <button type="button" class="btn-more">더보기</button>
            </div>
          </div>
        </div>
      </article>
    </section>

    <section id="contact" class="contact" data-section-name="Contact">
      <span class="blind">Contact</span>
      <article>
        <div class="inwrap">
          <div class="heading">
            <div class="sticky">
              <h3 class="title">우주의 조약돌에 대해 <br>궁금하신 사항을 문의하세요​</h3>
            </div>
          </div>
          <div class="contents">
            <div class="content">
              <h6 class="subject">E-mail.</h6>
              <div class="detail">
                <strong><a href="mailto:Spacekids.hanwha@gmail.com">Spacekids.hanwha@gmail.com</a></strong>
                <p>메일로 문의를 주시면 빠른 시간 내에 연락을 받아보실 수 있습니다. <br>회신 받으실 이름과 연락처를 꼭 남겨주세요.</p>
              </div>
            </div>
            <div class="content">
              <h6 class="subject">Tel.</h6>
              <div class="detail">
                <strong><a href="tel:02.3498.0998">02.3498.0998</a></strong>
                <p>평일 10:00 ~ 18:00 <br>(점심시간 12:00 ~ 13:00)</p>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>

		<!-- 참가신청 링크 -->
    <!-- <div class="signup-link-wrap sk-after-open">
      <div class="sticky">
        <div class="signup-link active">
          <a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=13114" target="_blank" class="btn-hud btn-hud-em">
            <span>3기 모집 참가신청</span>
            <p class="info">(지원 사이트(한화인) - 인턴 공고란에서 확인)</p>
          </a>
        </div>
      </div>
    </div> -->

	</main>

<%- include('./src/include/footer.ejs') %>