<%- include('./src/include/header.ejs', { title: '우주의 조약돌 교육 프로그램' , gnbActive: 5 }) %>

  <main class="space-kids-program">

    <!-- sections -->
    <section id="vision" class="vision" data-section-name="소개">
      <article class="intro">
        <span class="blind">소개</span>
        <div class="sticky">
          <div class="sticky-bg">
            <div class="bg">
              <video poster="/resources/images/space-kids/program/program_thumb.webp" loop muted playsinline>
                <source src="/resources/images/space-kids/program/program.mp4" type="video/mp4" />
                <source src="/resources/images/space-kids/program/program.mov" type="video/mp4; codecs=hvc1" />
              </video>
            </div>
          </div>
          <div class="texts">
            <h2>교육 프로그램</h2>
            <p>
              <span>미래 우주 과학자로 성장할</span>
              <span>우주 탐사를 소개합니다.</span>
            </p>
          </div>
        </div>
      </article>
      <article class="curriculum">
        <strong class="eyebrow">KAIST 항공우주공학과 교수진과 <br>
          <span class="font-hh">Hanwha Space Hub</span>가 공동 개발한</strong>
        <h3 class="title">​6개월간의 교육형 커리큘럼​</h3>
        <ul class="list-box">
          <li>
            <span class="station">STATION</span>
            <span class="num">[01]</span>
            <h4 class="desc">우주 인문학 <br>컨퍼런스</h4>
          </li>
          <li>
            <span class="station">STATION</span>
            <span class="num">[02]</span>
            <h4 class="desc">중학생 맞춤형 <br>우주 미션 프로젝트​</h4>
          </li>
          <li>
            <span class="station">STATION</span>
            <span class="num">[03]</span>
            <h4 class="desc">프로젝트 <br>성과 발표회​</h4>
          </li>
          <li>
            <span class="station">STATION</span>
            <span class="num">[04]</span>
            <h4 class="desc">Honor Club</h4>
          </li>
        </ul>
      </article>
    </section>
    <section id="humanities" class="humanities" data-section-name="우주 인문학">
      <div class="tit-wrap">
        <span class="eyebrow">[ STATION 01 ]</span>
        <h3 class="station-title">[ 우주 인문학 컨퍼런스 ]<span>2025년 7월~8월</span></h3>
      </div>
      <div class="people-container rt-con">
        <h4 class="station-desc">과학과 인문학의 길을 <br class="mobile">먼저 걷고 있는 <br class="pc">선배들과 <br class="mobile">함께 상상력을
          키울 수 있습니다.</h4>
        <div class="people-wrap">
          <!-- <h3 class="station-title">[ 1차 ] 7월 20일(토)<span>한화빌딩(서울 청계천로)</span></h3> -->
          <div class="people-tit-wrap">
            <h4>[ 1차 ] </h4>
            <ul class="people-tit-list">
              <li>
                <strong>일시</strong>
                <span>7월 26일(토)</span>
              </li>
              <li>
                <strong>장소</strong>
                <span>한화빌딩(서울 청계천로)</span>
              </li>
            </ul>
          </div>
          <ul class="people-list">
            <li>
              <picture class="picture">
                <source media="(min-width: 1024px)"
                  srcset="/resources/images/space-kids/program/humanities_son.png">
                <source media="(max-width:767px)"
                  srcset="/resources/images/space-kids/program/humanities_son_mobile.png">
                <img src="/resources/images/space-kids/program/humanities_son.png" alt="">
              </picture>
              <dl>
                <dt>이정모 관장​</dt>
                <dd>
                  <ul>
                    <li>펭귄각종과학관 관장</li>
                    <li>국립과천과학관 관장</li>
                    <li>
                      ⌜과학의 눈으로 세상을 봅니다⌟,<br/>
                      ⌜넥스트 레벨 : 우주 탐사⌟ 등 과학분야 작가
                    </li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <picture class="picture">
                <source media="(min-width: 1024px)"
                  srcset="/resources/images/space-kids/program/humanities_orbit.png">
                <source media="(max-width:767px)"
                  srcset="/resources/images/space-kids/program/humanities_orbit_mobile.png">
                <img src="/resources/images/space-kids/program/humanities_orbit.png" alt="">
              </picture>
              <dl>
                <dt>궤도 과학커뮤니케이터</dt>
                <dd>
                  <ul>
                    <li>과학 유튜브 &#91;안될과학&#93; 크리에이터</li>
                    <li>한국천문연구원 연구원</li>
                    <li>국가과학기술자문회의 정책자문위원​</li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
        <div class="people-wrap">
          <!-- <h3 class="station-title">[ 2차 ] 8월 17일(토)​<span>대전 KAIST 본원​​</span></h3> -->
          <div class="people-tit-wrap">
            <h4>[ 2차 ] </h4>
            <ul class="people-tit-list">
              <li>
                <strong>일시</strong>
                <span>8월 9일(토)</span>
              </li>
              <li>
                <strong>장소</strong>
                <span>대전 KAIST 본원​​</span>
              </li>
            </ul>
          </div>

          <ul class="people-list">
            <li>
              <picture class="picture">
                <source media="(min-width: 1024px)"
                  srcset="/resources/images/space-kids/program/humanities_kim.png">
                <source media="(max-width:767px)"
                  srcset="/resources/images/space-kids/program/humanities_kim_mobile.png">
                <img src="/resources/images/space-kids/program/humanities_kim.png" alt="">
              </picture>
              <dl>
                <dt>김이을 대표이사</dt>
                <dd>
                  <ul>
                    <li>(주)쎄트렉아이 대표이사</li>
                    <li>영국 런던대 물리학 박사</li>
                  </ul>
                </dd>
              </dl>
            </li>
            <li>
              <picture class="picture">
                <source media="(min-width: 1024px)"
                  srcset="/resources/images/space-kids/program/humanities_bae.png">
                <source media="(max-width:767px)"
                  srcset="/resources/images/space-kids/program/humanities_bae_mobile.png">
                <img src="/resources/images/space-kids/program/humanities_bae.png" alt="">
              </picture>
              <dl>
                <dt>배명훈 SF작가</dt>
                <dd>
                  <ul>
                    <li>
                      ⌜화성과 나⌟, ⌜SF 작가입니다⌟, ⌜타워⌟,<br/>
                      ⌜우주섬 사비의 기묘한 탄도학⌟ 등 과학분야 작가<br/>
                    </li>
                    <li>과학기술창작문예 단편 부문 ⌜스마트 D⌟ 수상</li>
                  </ul>
                </dd>
              </dl>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="mission" class="mission" data-section-name="우주 미션">
      <div class="tit-wrap">
        <span class="eyebrow">[ STATION 02 ]</span>
        <h3 class="station-title">[ 중학생 맞춤형​ 우주 미션 프로젝트​ ]<span>2025년 7월~12월​</span></h3>
      </div>
      <div class="info-wrap">
        <div class="t_con">
          <div class="item">
            <strong>KAIST Lecture Series</strong>
            <h4 class="station-desc">총 8강으로 구성된 <br>기초 과학 이론 교육과 실습​</h4>
            <p>오프라인, 온라인 수업 진행​ <br>스페이스 캠프(2박 3일) 포함​</p>
          </div>
          <div class="item">
            <strong>Team Project</strong>
            <h4 class="station-desc">'우주 미션' 해결 위한​ <br>개념설계과정의 팀 프로젝트​​</h4>
            <p>프로젝트 주제 선정부터 논리 구체화, <br>과제 완료까지 자기 주도형 과정​​</p>
          </div>
        </div>
        <ul class="bt_con">
          <li>
            <p class="tit">Space Mission Project</p>
            <div>
              <p>
                <span>8월 23일(토)</span>
                <span>한화빌딩(서울 청계천로)</span>
              </p>
              <p>
                <span>9월 6일(토)</span>
                <span>대전 KAIST 본원</span>
              </p>
              <p>
                <span>9월 20일(토)</span>
                <span>온라인</span>
              </p>
              <p>
                <span>10월 18일(토)</span>
                <span>온라인</span>
              </p>
              <p>
                <span>11월 1일(토)</span>
                <span>한화빌딩(서울 청계천로)</span>
              </p>
            </div>
          </li>
          <li>
            <p class="tit">Space Camp</p>
            <div>
              <p>
                <span>11월 13일(목)<br class="laptop">~11월 15일(토)</span>
                <span>한화인재경영원(경기도 가평)</span>
              </p>
            </div>
          </li>
          <li>
            <p class="tit">Space Mission Project</p>
            <div>
              <p>
                <span>11월 29일(토)</span>
                <span>온라인​</span>
              </p>
              <p>
                <span>12월 13일(토)</span>
                <span>대전 KAIST 본원​</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="professor-wrap">
        <div class="item row-01">
          <h3 class="station-title">[ 우주의 조약돌 전담 교수진 ]</h3>
          <ul class="list">
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_01.webp" alt="전은지 교수님">
              </div>
              <span class="name">전은지 교수님​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_02.webp" alt="이대영 교수님">
              </div>
              <span class="name">이대영 교수님​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_03.webp" alt="이전윤 교수님">
              </div>
              <span class="name">이전윤 교수님​​</span>
            </li>
          </ul>
        </div>
        <div class="item row-02">
          <h3 class="station-title">[ KAIST 항공우주공학과 참여 교수진 ]</h3>
          <ul class="list">
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_04.webp" alt="방효충 교수님">
              </div>
              <span class="name">방효충 교수님</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_05.webp" alt="안재명 교수님">
              </div>
              <span class="name">안재명 교수님</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_06.webp" alt="윤효상 교수님">
              </div>
              <span class="name">윤효상 교수님​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_07.webp" alt="이정률 교수님​">
              </div>
              <span class="name">이정률 교수님​​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_08.webp" alt="이지윤 교수님">
              </div>
              <span class="name">이지윤 교수님​​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_09.webp" alt="이창훈 교수님">
              </div>
              <span class="name">이창훈 교수님​​​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_10.webp" alt="최지환 교수님">
              </div>
              <span class="name">최지환 교수님​</span>
            </li>
            <li>
              <div class="picture">
                <img src="/resources/images/space-kids/program/professor_11.webp" alt="한재흥 교수님​">
              </div>
              <span class="name">한재흥 교수님​​</span>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <section id="result" class="result" data-section-name="성과 발표">
      <div class="tit-wrap">
        <span class="eyebrow">[ STATION 03 ]</span>
        <h3 class="station-title">[ 프로젝트 성과 발표 ]<span>2026년 1월 10일(토) 대전 KAIST 본원​</span></h3>
      </div>
      <div class="txt-con rt-con">
        <h4 class="station-desc">우주 전문가와 프로젝트 <br class="mobile">성과물에 대해 <br class="pc">논의하며 <br class="mobile">성장할 수
          있습니다.</h4>
        <ul class="list">
          <li>KAIST 교수진​</li>
          <li>우주 ・ 항공 분야 전문가​</li>
          <li><span class="font-hh">한화</span>그룹 관계자​</li>
          <li>우주의 조약돌 운영위원​</li>
        </ul>
      </div>
    </section>
    <section id="honor" class="honor" data-section-name="Honor Club">
      <div class="tit-wrap">
        <span class="eyebrow">[ STATION 04 ]</span>
        <h3 class="station-title">[ Honor Club 혜택​ ]​<span>2026년 1월~​</span></h3>
      </div>
      <div class="txt-con rt-con">
        <h4 class="station-desc">'과학 인재 네트워크'가 <br class="mobile">시작되는 <br class="pc">졸업생 관리 <br class="mobile">프로그램 혜택을
          <br class="pc">받을 수 <br class="mobile">있습니다.
        </h4>
        <ul class="benefit-list">
          <li>
            <strong>Benefit 01</strong>
            <p>수료생 전원​ <br>미국 해외탐방 (NASA 견학)</p>
          </li>
          <li>
            <strong>Benefit 02</strong>
            <p>영재를 위한​ <br>KAIST 총장 수료증​</p>
          </li>
          <li>
            <strong>Benefit 03</strong>
            <p>원하는 강의를 들을 수 있는​ <br>KAIST 영재 교육원 수강권​</p>
          </li>
          <li>
            <strong>Benefit 04</strong>
            <p>인생 선배를 만나는​ <br>KAIST 멘토링​​</p>
          </li>
        </ul>
      </div>
    </section>

    <!-- <div class="bt_bg"></div> -->

    <!-- 참가신청 링크 -->
    <!-- <div class="signup-link-wrap sk-after-open">
      <div class="sticky">
        <div class="signup-link active">
          <a href="https://www.hanwhain.com/web/apply/notification/view.do?rtSeq=13114" target="_blank" class="btn-hud btn-hud-em">
            <span>3기 모집 참가신청</span>
            <p class="info">(지원 사이트(한화인) - 인턴 공고란에서 확인)</p>
          </a>
        </div>
      </div>
    </div> -->
  </main>

  <%- include('./src/include/footer.ejs') %>