
	<p class="network-button">
		<a href="/space-hub/#network">
			<span class="text">Network</span>
			<span class="icon"></span>
		</a>
	</p>

	<footer id="footer" class="footer">
		<ul class="family-sites">
			<li><a href="https://www.hanwhaaerospace.co.kr/" target="_blank"><img src="/resources/images/logo-aerospace.png" alt="한화에어로스페이스" /></a></li>
			<li><a href="https://www.hanwhasystems.com/" target="_blank"><img src="/resources/images/logo-hanwha-system.png" alt="한화시스템" /></a></li>
			<li><a href="https://www.hanwhacorp.co.kr/" target="_blank"><img src="/resources/images/logo-hanwha.png" alt="한화" /></a></li>
		</ul>
		<ul class="menus">
			<li><a href="/space-hub/" class="space-hub">Space Hub</a></li>
			<li><a href="/launch/">발사체</a></li>
			<li><a href="/satellite/">위성</a></li>
			<li><a href="/exploration/">탐사</a></li>
			<li><a href="/media-room/">미디어룸</a></li>
			<li><a href="/space-kids/introduce/" class="space-kids">우주의 조약돌</a></li>
		</ul>
		<ul class="links">
			<li><a href="https://www.youtube.com/@SpaceHubTV" class="youtube" target="_blank">Youtube</a></li>
			<!-- <li><a href="https://www.thespacekids.com/" class="space-kids" target="_blank">우주의 조약돌</a></li> -->
		</ul>
		<p class="email">
			spacehub@hanwha.com
		</p>
		<p class="copyright">
			ⓒ 2023 <em>Hanwha Aerospace</em>, <em>Hanwha Systems</em>, <em>Hanwha Corporation</em> <span>All Rights Reserved.</span>
		</p>
		<p class="logo">
			<img src="/resources/images/logo.svg" alt="Space Hub" />
		</p>
	</footer>

	<div class="page-cover"></div>
	
	<script type="module" src="/src/js/space-hub.js"></script>
</body>
</html>