
	<p class="network-button">
		<a href="/en/space-hub/#network">
			<span class="text">Network</span>
			<span class="icon"></span>
		</a>
	</p>

	<footer id="footer" class="footer">
		<ul class="family-sites">
			<li><a href="https://www.hanwhaaerospace.co.kr/" target="_blank"><img src="/resources/images/logo-aerospace-en.png" alt="Hanwha Aerospace" /></a></li>
			<li><a href="https://www.hanwhasystems.com/" target="_blank"><img src="/resources/images/logo-hanwha-system-en.png" alt="Hanwha Systems" /></a></li>
			<li><a href="https://www.hanwhacorp.co.kr/" target="_blank"><img src="/resources/images/logo-hanwha-en.png" alt="Hanwha Corporation" /></a></li>
		</ul>
		<ul class="menus">
			<li><a href="/en/space-hub/" class="space-hub">Space Hub</a></li>
			<li><a href="/en/launch/">Space launcher</a></li>
			<li><a href="/en/satellite/">Satellite</a></li>
			<li><a href="/en/exploration/">Exploration</a></li>
			<li><a href="/en/media-room/">Media room</a></li>
		</ul>
		<ul class="links">
			<li><a href="https://www.youtube.com/@SpaceHubTV" class="youtube" target="_blank">Youtube</a></li>
			<!-- <li><a href="https://www.thespacekids.com/" class="space-kids" target="_blank">Space kids</a></li> -->
		</ul>
		<p class="email">
			spacehub@hanwha.com
		</p>
		<p class="copyright">
			ⓒ 2023 <em>Hanwha Aerospace</em>, <em>Hanwha Systems</em>, <em>Hanwha Corporation</em> <span>All Rights Reserved.</span>
		</p>
		<p class="logo">
			<img src="/resources/images/logo.svg" alt="Space Hub" />
		</p>
	</footer>

	<div class="page-cover"></div>
	
	<script type="module" src="/src/js/space-hub.js"></script>
</body>
</html>